## 1. NETTOYAGE GAMES

In [1]:
# ======================================================
#  TEMPLATE DE NETTOYAGE DE DONN√âES - PANDAS
# ======================================================

import pandas as pd
import numpy as np
import re

# 1Ô∏è. Importation
def import_raw(filename, path="../data/data_raw/"):
    full_path = f"{path}{filename}"

    if filename.endswith(".xlsx"):
        df = pd.read_excel(full_path)
    elif filename.endswith(".json"):
        df = pd.read_json(full_path)
    else:
        df = pd.read_csv(full_path)
        
    print(f"\nüì• Donn√©es import√©es depuis '{full_path}'")
    return df

df_games = import_raw("Olympics_Games.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympics_Games.csv'

In [2]:
# 2Ô∏è. Inspection initiale
def inspect_init(df):
    print("Aper√ßu des donn√©es :")
    display(df)

    print("\nInformations g√©n√©rales :")
    df.info()

    print("\nR√©sum√© statistique :")
    display(df.describe(include='all'))

    print(f"\nD. Dimensions du DataFrame : {df.shape[0]} lignes et {df.shape[1]} colonnes")

inspect_init(df_games)

Aper√ßu des donn√©es :

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,6 April,15 April,6 ‚Äì 13 April,NaN
1,1900 Summer Olympics,2,/editions/2,1900,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,NaN,NaN,14 May ‚Äì 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,https://olympedia-flags.s3.eu-central-1.amazon...,USA,14 May,NaN,1 July ‚Äì 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,13 July,25 July,27 April ‚Äì 31 October,NaN
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,6 July,15 July,5 May ‚Äì 27 July,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,https://olympedia-flags.s3.eu-central-1.amazon...,KOR,9 February,25 February,8 ‚Äì 25 February,NaN
60,2022 Winter Olympics,62,/editions/62,2022,Beijing,https://olympedia-flags.s3.eu-central-1.amazon...,CHN,4 February,20 February,2 ‚Äì 20 February,NaN
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,6 February,22 February,4 ‚Äì 22 February,NaN
62,1956 Equestrian,48,/editions/48,1956,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,10 June,17 June,11 ‚Äì 17 June,NaN
63,1906 Intercalated,4,/editions/4,1906,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,22 April,2 May,22 April ‚Äì 2 May,NaN

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   edition           64 non-null     object
 1   edition_id        64 non-null     int64
 2   edition_url       64 non-null     object
 3   year              64 non-null     int64
 4   city              64 non-null     object
 5   country_flag_url  64 non-null     object
 6   country_noc       64 non-null     object
 7   start_date        55 non-null     object
 8   end_date          54 non-null     object
 9   competition_date  64 non-null     object
 10  isHeld            5 non-null      object
dtypes: int64(2), object(9)
memory usage: 5.6+ KB

R√©sum√© statistique :

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
count,64,64.000000,64,64.000000,64,64,64,55,54,64,5
unique,64,NaN,64,NaN,45,25,25,43,41,57,1
top,1896 Summer Olympics,NaN,/editions/1,NaN,London,https://olympedia-flags.s3.eu-central-1.amazon...,USA,4 February,28 February,‚Äî,Not held due to war
freq,1,NaN,1,NaN,4,9,9,3,3,8,5
mean,NaN,38.578125,NaN,1967.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,46.504072,NaN,37.385168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,NaN,1896.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,16.750000,NaN,1939.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,34.500000,NaN,1968.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,50.250000,NaN,1998.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,372.000000,NaN,2032.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

D. Dimensions du DataFrame : 64 lignes et 11 colonnes

In [3]:
# 3Ô∏è. Nettoyage des noms de colonnes
def colonnes(df):
    df.columns = (
        df.columns
        .str.strip()               # Supprimer les espaces
        .str.lower()               # Mettre en minuscules
        .str.replace(' ', '_')     # Remplacer les espaces par _
        .str.replace('[^0-9a-zA-Z_]', '', regex=True)  # Supprimer les caract√®res sp√©ciaux
    )

colonnes(df_games)

In [4]:
# 4. Gestion des valeurs manquantes
def val_manquantes(df):
    print("\nValeurs manquantes :")
    display(df.isna().sum())

    missing_percentage = df.isna().sum() / len(df) * 100
    print("\nPourcentage de valeurs manquantes par colonne :")
    display(missing_percentage.sort_values(ascending=False))

val_manquantes(df_games)

Valeurs manquantes :

edition              0
edition_id           0
edition_url          0
year                 0
city                 0
country_flag_url     0
country_noc          0
start_date           9
end_date            10
competition_date     0
isheld              59
dtype: int64

Pourcentage de valeurs manquantes par colonne :

isheld              92.1875
end_date            15.6250
start_date          14.0625
edition              0.0000
edition_id           0.0000
edition_url          0.0000
year                 0.0000
city                 0.0000
country_flag_url     0.0000
country_noc          0.0000
competition_date     0.0000
dtype: float64

In [5]:
# 5Ô∏è. V√©rification et Gestion des doublons
def doublons(df):
    nb_doublons = df.duplicated().sum()
    print(f"\nDoublons d√©tect√©s : {nb_doublons}")

    return nb_doublons

doublons(df_games)

Doublons d√©tect√©s : 0

np.int64(0)

In [6]:
# 6Ô∏è. V√©rification et correction des types
# RAS

In [7]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
def nettoyage_caracteres(df):
    obj_cols = df.select_dtypes(include='object').columns
    
    for col in obj_cols:
        df[col] = df[col].astype(str).str.strip()        # .astype(str) pour les valeurs non-string (ex: NaN)

    return df, obj_cols

nettoyage_caracteres(df_games)

(                 edition  edition_id   edition_url  year  \
 0   1896 Summer Olympics           1   /editions/1  1896
 1   1900 Summer Olympics           2   /editions/2  1900
 2   1904 Summer Olympics           3   /editions/3  1904
 3   1908 Summer Olympics           5   /editions/5  1908
 4   1912 Summer Olympics           6   /editions/6  1912
 ..                   ...         ...           ...   ...
 59  2018 Winter Olympics          60  /editions/60  2018
 60  2022 Winter Olympics          62  /editions/62  2022
 61  2026 Winter Olympics          72  /editions/72  2026
 62       1956 Equestrian          48  /editions/48  1956
 63     1906 Intercalated           4   /editions/4  1906

                         city  \
 0                     Athina
 1                      Paris
 2                  St. Louis
 3                     London
 4                  Stockholm
 ..                       ...
 59               PyeongChang
 60                   Beijing
 61  Milano-Cortina d'Ampezzo
 62                 Stockholm
 63                    Athina

                                      country_flag_url country_noc  start_date  \
 0   https://olympedia-flags.s3.eu-central-1.amazon...         GRE     6 April
 1   https://olympedia-flags.s3.eu-central-1.amazon...         FRA         nan
 2   https://olympedia-flags.s3.eu-central-1.amazon...         USA      14 May
 3   https://olympedia-flags.s3.eu-central-1.amazon...         GBR     13 July
 4   https://olympedia-flags.s3.eu-central-1.amazon...         SWE      6 July
 ..                                                ...         ...         ...
 59  https://olympedia-flags.s3.eu-central-1.amazon...         KOR  9 February
 60  https://olympedia-flags.s3.eu-central-1.amazon...         CHN  4 February
 61  https://olympedia-flags.s3.eu-central-1.amazon...         ITA  6 February
 62  https://olympedia-flags.s3.eu-central-1.amazon...         SWE     10 June
 63  https://olympedia-flags.s3.eu-central-1.amazon...         GRE    22 April

        end_date       competition_date isheld
 0      15 April           6 ‚Äì 13 April    nan
 1           nan    14 May ‚Äì 28 October    nan
 2           nan   1 July ‚Äì 26 November    nan
 3       25 July  27 April ‚Äì 31 October    nan
 4       15 July        5 May ‚Äì 27 July    nan
 ..          ...                    ...    ...
 59  25 February        8 ‚Äì 25 February    nan
 60  20 February        2 ‚Äì 20 February    nan
 61  22 February        4 ‚Äì 22 February    nan
 62      17 June           11 ‚Äì 17 June    nan
 63        2 May      22 April ‚Äì  2 May    nan

 [64 rows x 11 columns],
 Index(['edition', 'edition_url', 'city', 'country_flag_url', 'country_noc',
        'start_date', 'end_date', 'competition_date', 'isheld'],
       dtype='object'))

In [8]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
    # 8.1 Harmonisation des valeurs et donn√©es cat√©gorielles
    # RAS

    # 8.2 D√©tection et gestion des valeurs aberrantes (Outliers)
    # RAS

    # 8.3 V√©rification de l'Int√©grit√© des Donn√©es / R√®gles M√©tier
    # RAS

df_games

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isheld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,6 April,15 April,6 ‚Äì 13 April,nan
1,1900 Summer Olympics,2,/editions/2,1900,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,nan,nan,14 May ‚Äì 28 October,nan
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,https://olympedia-flags.s3.eu-central-1.amazon...,USA,14 May,nan,1 July ‚Äì 26 November,nan
3,1908 Summer Olympics,5,/editions/5,1908,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,13 July,25 July,27 April ‚Äì 31 October,nan
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,6 July,15 July,5 May ‚Äì 27 July,nan
...,...,...,...,...,...,...,...,...,...,...,...
59,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,https://olympedia-flags.s3.eu-central-1.amazon...,KOR,9 February,25 February,8 ‚Äì 25 February,nan
60,2022 Winter Olympics,62,/editions/62,2022,Beijing,https://olympedia-flags.s3.eu-central-1.amazon...,CHN,4 February,20 February,2 ‚Äì 20 February,nan
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,6 February,22 February,4 ‚Äì 22 February,nan
62,1956 Equestrian,48,/editions/48,1956,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,10 June,17 June,11 ‚Äì 17 June,nan
63,1906 Intercalated,4,/editions/4,1906,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,22 April,2 May,22 April ‚Äì 2 May,nan

In [9]:
# 9Ô∏è. Cr√©ation / transformation de colonnes

colonnes_a_supprimer = ['start_date' , 'end_date', 'competition_date' ,	'isheld']

df_games = df_games.drop(columns=colonnes_a_supprimer , axis=1)

In [10]:
#Ajouter colonne summer/winter sur table 

df_games["season"] = df_games["edition"].apply(
    lambda x: "Summer"if "Summer" in x
    else "Winter" if "Winter" in x
    else "Other")

In [11]:
# Int√©gration des jeux equestres de 1956 aux jeux d'√©t√© de 1956 

df_games['edition'] = df_games['edition'].replace({"1956 Equestrian" : "1956 Summer Olympics"})
df_games['edition_id'] = df_games['edition_id'].replace({48 : 14})

# Suppression de la ligne avec l'index 62
df_games = df_games.drop(index=62)
df_games.head()

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,season
0,1896 Summer Olympics,1,/editions/1,1896,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,Summer
1,1900 Summer Olympics,2,/editions/2,1900,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,Summer
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,https://olympedia-flags.s3.eu-central-1.amazon...,USA,Summer
3,1908 Summer Olympics,5,/editions/5,1908,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,Summer
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,Summer

## 2. NETTOYAGE COUNTRY

In [12]:
# 1Ô∏è. Importation
df_country = import_raw("Olympics_Country.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympics_Country.csv'

In [13]:
# 2Ô∏è. Inspection initiale
inspect_init(df_country)

Aper√ßu des donn√©es :

     noc                    country
0    AFG                Afghanistan
1    ALB                    Albania
2    ALG                    Algeria
3    ASA             American Samoa
4    AND                    Andorra
..   ...                        ...
230  YEM                      Yemen
231  YUG                 Yugoslavia
232  ZAM                     Zambia
233  ZIM                   Zimbabwe
234  ROC  Russian Olympic Committee

[235 rows x 2 columns]

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   noc      235 non-null    object
 1   country  235 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB

R√©sum√© statistique :

        noc      country
count   235          235
unique  234          235
top     ROC  Afghanistan
freq      2            1

D. Dimensions du DataFrame : 235 lignes et 2 colonnes

In [14]:
# 3Ô∏è. Nettoyage des noms de colonnes
colonnes(df_country)

In [15]:
# 4. Gestion des valeurs manquantes
val_manquantes(df_country)

Valeurs manquantes :

noc        0
country    0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

noc        0.0
country    0.0
dtype: float64

In [16]:
# 5Ô∏è. Suppression des doublons
doublons(df_country)

Doublons d√©tect√©s : 0

np.int64(0)

In [17]:
# 6Ô∏è. V√©rification et correction des types
# RAS

In [18]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_country)

(     noc                    country
 0    AFG                Afghanistan
 1    ALB                    Albania
 2    ALG                    Algeria
 3    ASA             American Samoa
 4    AND                    Andorra
 ..   ...                        ...
 230  YEM                      Yemen
 231  YUG                 Yugoslavia
 232  ZAM                     Zambia
 233  ZIM                   Zimbabwe
 234  ROC  Russian Olympic Committee

 [235 rows x 2 columns],
 Index(['noc', 'country'], dtype='object'))

In [19]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [20]:
# 9Ô∏è. Cr√©ation / transformation de colonnes

# Ajout d'une colonne continent
# mappage noc aux continents 

noc_to_continent ={
        'AFG': 'Asia', 'ARM': 'Asia', 'AZE': 'Asia', 'BRN': 'Asia', 'BAN':'Asia', 'BHU': 'Asia',
        'BRU': 'Asia', 'CAM': 'Asia', 'TPE': 'Asia', 'PRK': 'Asia', 'HKG': 'Asia', 'IND': 'Asia',
        'INA': 'Asia', 'IRQ': 'Asia', 'IRI': 'Asia', 'ISR': 'Asia', 'JPN': 'Asia', 'JOR': 'Asia',
        'KSA': 'Asia', 'COR': 'Asia', 'KUW': 'Asia', 'KGZ': 'Asia', 'LAO': 'Asia', 'LBN': 'Asia',
        'MAL': 'Asia', 'MAS': 'Asia', 'MDV': 'Asia', 'MGL': 'Asia', 'MYA': 'Asia', 'NEP': 'Asia',
        'NBO': 'Asia', 'YAR': 'Asia', 'OMA': 'Asia', 'PAK': 'Asia', 'PLE': 'Asia', 'CHN': 'Asia',
        'PHI': 'Asia', 'QAT': 'Asia', 'KOR': 'Asia', 'SGP': 'Asia', 'VNM': 'Asia', 'YMD': 'Asia',
        'SRI': 'Asia', 'SYR': 'Asia', 'TJK': 'Asia', 'THA': 'Asia', 'TLS': 'Asia', 'TUR': 'Asia',
        'TKM': 'Asia', 'UAE': 'Asia', 'UAR': 'Asia', 'UZB': 'Asia', 'VIE': 'Asia', 'YEM': 'Asia',

        'ASA': 'Oceania', 'ANZ': 'Oceania', 'AUS': 'Oceania', 'Cok': 'Oceania', 'FSM': 'Oceania',
        'FIJ': 'Oceania', 'GUM': 'Oceania', 'KIR': 'Oceania', 'MHL': 'Oceania', 'NRU': 'Oceania',
        'NZL': 'Oceania', 'PLW': 'Oceania', 'PNG': 'Oceania', 'SAM': 'Oceania', 'SOL': 'Oceania',
        'TGA': 'Oceania', 'TUV': 'Oceania', 'VAN': 'Oceania',

        'ALB': 'Europe', 'AND': 'Europe', 'AUT': 'Europe', 'BLR': 'Europe', 'BEL': 'Europe', 
        'BOH': 'Europe', 'BIH': 'Europe', 'BUL': 'Europe', 'CRT': 'Europe', 'CRO': 'Europe',
        'CYP': 'Europe', 'CZE': 'Europe', 'TCH': 'Europe', 'DEN': 'Europe', 'GDR': 'Europe', 
        'EST': 'Europe', 'FIN': 'Europe', 'FRA': 'Europe', 'GEO': 'Europe', 'GER': 'Europe', 
        'GBR': 'Europe', 'GRE': 'Europe', 'HUN': 'Europe', 'ISL': 'Europe', 'IRL': 'Europe',
        'ITA': 'Europe', 'KAZ': 'Europe', 'KOS': 'Europe', 'LAT': 'Europe', 'LIE': 'Europe', 
        'LTU': 'Europe', 'LUX': 'Europe', 'MLT': 'Europe', 'MON': 'Europe', 'MNE': 'Europe',
        'NED': 'Europe', 'MKD': 'Europe', 'NOR': 'Europe', 'POL': 'Europe', 'POR': 'Europe', 
        'MDA': 'Europe', 'ROU': 'Europe', 'RUS': 'Europe', 'SAA': 'Europe', 'SMR': 'Europe',
        'SRB': 'Europe', 'SCG': 'Europe', 'SVk': 'Europe', 'SLO': 'Europe', 'URS': 'Europe',
        'ESP': 'Europe', 'SWE': 'Europe', 'SUI': 'Europe', 'UKR': 'Europe', 'FRG': 'Europe', 
        'YUG': 'Europe',

        'ANT': 'America', 'ARG': 'America', 'ARU': 'America', 'BAR': 'America', 'BIZ': 'America',
        'BER': 'America', 'BOL': 'America', 'BRA': 'America', 'IVB': 'America', 'CAN': 'America',
        'CAY': 'America', 'CHI': 'America', 'COL': 'America', 'CRC': 'America', 'CUB': 'America', 
        'DMA': 'America', 'DOM': 'America', 'ECU': 'America', 'ESA': 'America', 'GRN': 'America',
        'GUA': 'America', 'GUY': 'America', 'HAI': 'America', 'HON': 'America', 'JAM': 'America',
        'MEX': 'America', 'AHO': 'America', 'NFL': 'America', 'NCA': 'America', 'PAN': 'America', 
        'PAR': 'America', 'PER': 'America', 'PUR': 'America', 'SKN': 'America', 'LCA': 'America',
        'VIN': 'America', 'SUR': 'America', 'BAH': 'America', 'TTO': 'America', 'USA': 'America', 
        'ISV': 'America', 'URU': 'America', 'VEN': 'America', 'WIF': 'America', 

        'ALG': 'Africa', 'ANG': 'Africa', 'BEN': 'Africa', 'BOT': 'Africa', 'BUR': 'Africa',
        'BDI': 'Africa', 'CPV': 'Africa', 'CMR': 'Africa', 'CAF': 'Africa', 'CHA': 'Africa',
        'COM': 'Africa', 'CGO': 'Africa', 'CIV': 'Africa', 'COD': 'Africa', 'DJI': 'Africa',
        'GEQ': 'Africa', 'ERI': 'Africa', 'SWZ': 'Africa', 'ETH': 'Africa', 'GAB': 'Africa',
        'GHA': 'Africa', 'GUI': 'Africa', 'GBS': 'Africa', 'KEN': 'Africa', 'LES': 'Africa',
        'LBR': 'Africa', 'LBA': 'Africa', 'MAD': 'Africa', 'MAW': 'Africa', 'MLI': 'Africa',
        'MTN': 'Africa', 'MRI': 'Africa', 'MAR': 'Africa', 'MOZ': 'Africa', 'NAM': 'Africa',
        'NIG': 'Africa', 'RHO': 'Africa', 'RWA': 'Africa', 'STP': 'Africa', 'SEN': 'Africa', 
        'SEY': 'Africa', 'SLE': 'Africa', 'SOM': 'Africa', 'RSA': 'Africa', 'SSD': 'Africa',
        'SUD': 'Africa', 'GAM': 'Africa', 'TOG': 'Africa', 'TUN': 'Africa', 'UGA': 'Africa',
        'TAN': 'Africa', 'ZAM': 'Africa', 'ZIM': 'Africa', 'EGY': 'Africa',

        'IOA': 'Neutral', 'AIN': 'Neutral', 'MIX': 'Neutral', 'EOR': 'Neutral', 'ROC': 'Neutral',
        'EUN': 'Neutral', 

        'UNK': 'Unknown'
}

In [21]:
# Cr√©ation d'une fonction 

def get_continent(noc_code):

    return noc_to_continent.get(noc_code)


# application nouvelle colonne continent dans le dataset olympic_country
# verification que les codes sont bien en majuscules
df_country['noc'] = df_country['noc'].str.upper()

#creation nouvelle colonne continent 
df_country['continent'] = df_country['noc'].apply(lambda x: get_continent(x))

df_country.sample(10)

     noc                           country continent
17   BLR                           Belarus    Europe
181  SRB                            Serbia    Europe
55   COD  Democratic Republic of the Congo    Africa
106  COR                        Korea Team      Asia
15   BAN                        Bangladesh      Asia
191  SSD                       South Sudan    Africa
184  SLE                      Sierra Leone    Africa
156  PNG                  Papua New Guinea   Oceania
137  NAM                           Namibia    Africa
166  KOR                 Republic of Korea      Asia

## 3. NETTOYAGE RESULT

In [22]:
# 1Ô∏è. Importation
df_result = import_raw("Olympic_Results.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Results.csv'

In [23]:
# 2Ô∏è. Inspection initiale
inspect_init(df_result)

Aper√ßu des donn√©es :

,result_id,event_title,edition,edition_id,sport,sport_url,result_date,result_location,result_participants,result_format,result_detail,result_description
0,30359,"Super-Heavyweight (>105 kilograms), Men",2004 Summer Olympics,26,Weightlifting,/editions/26/sports/WLF,"25 August 2004 ‚Äî 16:30 (B), 20:00 (A)","Olympiako Gymnastirio Arsis Varon Nikaias, Nikaia",17 from 15 countries,Total of best lifts in snatch and clean & jerk...,na,"Not so much a competition as a coronation, the..."
1,1626,"Giant Slalom, Women1",1998 Winter Olympics,46,Snowboarding,/editions/46/sports/SBD,9 February 1998,"Mt. Yakebitai, Shiga Kogen, Yamanouchi",31 from 14 countries,"Two runs, total time determined placement.",Gates: 38 / 36Length: 936 mStart Altitude: 196...,The women‚Äôs giant slalom was postponed one day...
2,76,"Singles, Men",1976 Winter Olympics,40,Luge,/editions/40/sports/LUG,4 ‚Äì 7 February 1976,"Kunsteis-Bob- und Rodelbahn, Igls",43 from 15 countries,"Four runs, total time determined placement.",Curves: 14Length: 1220 mStart Altitude: ?Verti...,"Once more, the competitors from East and West ..."
3,962,"1,500 metres, Men",1928 Winter Olympics,30,Speed Skating,/editions/30/sports/SSK,14 February 1928 ‚Äî 9:00,"Olympia-Eisstadion Badrutts Park, St. Moritz",30 from 14 countries,na,na,There was little doubt that the Olympic 1500 m...
4,258824,"Canadian Singles, Slalom, Men",2008 Summer Olympics,53,Canoe Slalom,/editions/53/sports/CSL,11 ‚Äì 12 August 2008,"Shunyi Aolinpike Shuishang Gongyuan, Mapo, Shunyi",16 from 16 countries,na,na,Two former Olympic champions in the C-1 slalom...
...,...,...,...,...,...,...,...,...,...,...,...,...
7389,19001250,"Basketball, Men",2020 Summer Olympics,61,Basketball,/editions/61/sports/BKB,25 July ‚Äì 7 August 2021,"Saitama Super Arena, Ch≈´≈ç-ku, Saitama, Saitama...",143 from 12 countries,Round-robin pools advance teams to classificat...,na,All the games took place at Saitama Super Aren...
7390,84835,"Sabre, Team, Men",1936 Summer Olympics,11,Fencing,/editions/11/sports/FEN,12 ‚Äì 13 August 1936,"Sportforum, Turnhalle, Reichssportfeld, Berlin...",107 from 21 countries,na,na,On the middle of an era of total domination of...
7391,72031,"Foil, Individual, Men",1900 Summer Olympics,2,Fencing,/editions/2/sports/FEN,14 ‚Äì 21 May 1900,"La Grande Salle des F√™tes de l'Exposition, Cha...",53 from 9 countries,na,na,There were 53 fencers from 9 nations but 39 of...
7392,258676,"Beach Volleyball, Women",2008 Summer Olympics,53,Beach Volleyball,/editions/53/sports/VBV,9 ‚Äì 21 August 2008,"Chaoyang Gongyuan Shatan Paiqiu Chang, Beijing",48 from 17 countries,Top 16 teams from round-robin pools advanced t...,na,"After winning the 2004 gold medal, Misty May a..."
7393,48121,"Doubles, Men",2000 Summer Olympics,25,Table Tennis,/editions/25/sports/TTE,16 ‚Äì 23 September 2000,"State Sports Centre, Olympic Park, Sydney, New...",72 from 29 countries,"Round-robin qualifying pools, followed by sing...",na,Kong Linghui and Liu Guoliang had won the 1996...

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7394 entries, 0 to 7393
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   result_id            7394 non-null   int64
 1   event_title          7394 non-null   object
 2   edition              7394 non-null   object
 3   edition_id           7394 non-null   int64
 4   sport                7394 non-null   object
 5   sport_url            7394 non-null   object
 6   result_date          7394 non-null   object
 7   result_location      7393 non-null   object
 8   result_participants  7394 non-null   object
 9   result_format        7394 non-null   object
 10  result_detail        7394 non-null   object
 11  result_description   7394 non-null   object
dtypes: int64(2), object(10)
memory usage: 693.3+ KB

R√©sum√© statistique :

,result_id,event_title,edition,edition_id,sport,sport_url,result_date,result_location,result_participants,result_format,result_detail,result_description
count,7.394000e+03,7394,7394,7394.000000,7394,7394,7394,7393,7394,7394,7394,7394
unique,NaN,1605,55,NaN,112,1138,3656,954,2055,658,487,6982
top,NaN,"Individual, Men",1904 Summer Olympics,NaN,Athletics,/editions/3/sports/ATH,20 August 1904,"Francis Field, Washington University, St. Louis",3 from 1 countries,na,na,na
freq,NaN,96,404,NaN,1335,280,28,338,197,3932,6652,406
mean,1.535217e+06,NaN,NaN,27.647011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.104084e+06,NaN,NaN,19.200363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.002525e+04,NaN,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.077100e+04,NaN,NaN,22.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.310878e+05,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,9.001677e+07,NaN,NaN,62.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

D. Dimensions du DataFrame : 7394 lignes et 12 colonnes

In [24]:
# 3Ô∏è. Nettoyage des noms de colonnes
colonnes(df_result)

In [25]:
# 4. Gestion des valeurs manquantes
val_manquantes(df_result)

Valeurs manquantes :

result_id              0
event_title            0
edition                0
edition_id             0
sport                  0
sport_url              0
result_date            0
result_location        1
result_participants    0
result_format          0
result_detail          0
result_description     0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

result_location        0.013524
result_id              0.000000
event_title            0.000000
edition                0.000000
edition_id             0.000000
sport                  0.000000
sport_url              0.000000
result_date            0.000000
result_participants    0.000000
result_format          0.000000
result_detail          0.000000
result_description     0.000000
dtype: float64

In [26]:
# 5Ô∏è. V√©rification et Gestion des doublons
doublons(df_result)

Doublons d√©tect√©s : 0

np.int64(0)

In [27]:
# 6Ô∏è. V√©rification et correction des types
# RAS

In [28]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_result)

(      result_id                              event_title  \
 0         30359  Super-Heavyweight (>105 kilograms), Men
 1          1626                     Giant Slalom, Women1
 2            76                             Singles, Men
 3           962                        1,500 metres, Men
 4        258824            Canadian Singles, Slalom, Men
 ...         ...                                      ...
 7389   19001250                          Basketball, Men
 7390      84835                         Sabre, Team, Men
 7391      72031                    Foil, Individual, Men
 7392     258676                  Beach Volleyball, Women
 7393      48121                             Doubles, Men

                    edition  edition_id             sport  \
 0     2004 Summer Olympics          26     Weightlifting
 1     1998 Winter Olympics          46      Snowboarding
 2     1976 Winter Olympics          40              Luge
 3     1928 Winter Olympics          30     Speed Skating
 4     2008 Summer Olympics          53      Canoe Slalom
 ...                    ...         ...               ...
 7389  2020 Summer Olympics          61        Basketball
 7390  1936 Summer Olympics          11           Fencing
 7391  1900 Summer Olympics           2           Fencing
 7392  2008 Summer Olympics          53  Beach Volleyball
 7393  2000 Summer Olympics          25      Table Tennis

                     sport_url                            result_date  \
 0     /editions/26/sports/WLF  25 August 2004 ‚Äî 16:30 (B), 20:00 (A)
 1     /editions/46/sports/SBD                        9 February 1998
 2     /editions/40/sports/LUG                   4 ‚Äì  7 February 1976
 3     /editions/30/sports/SSK                14 February 1928 ‚Äî 9:00
 4     /editions/53/sports/CSL                    11 ‚Äì 12 August 2008
 ...                       ...                                    ...
 7389  /editions/61/sports/BKB               25 July ‚Äì  7 August 2021
 7390  /editions/11/sports/FEN                    12 ‚Äì 13 August 1936
 7391   /editions/2/sports/FEN                       14 ‚Äì 21 May 1900
 7392  /editions/53/sports/VBV                     9 ‚Äì 21 August 2008
 7393  /editions/25/sports/TTE                 16 ‚Äì 23 September 2000

                                         result_location  \
 0     Olympiako Gymnastirio Arsis Varon Nikaias, Nikaia
 1                Mt. Yakebitai, Shiga Kogen, Yamanouchi
 2                     Kunsteis-Bob- und Rodelbahn, Igls
 3          Olympia-Eisstadion Badrutts Park, St. Moritz
 4     Shunyi Aolinpike Shuishang Gongyuan, Mapo, Shunyi
 ...                                                 ...
 7389  Saitama Super Arena, Ch≈´≈ç-ku, Saitama, Saitama...
 7390  Sportforum, Turnhalle, Reichssportfeld, Berlin...
 7391  La Grande Salle des F√™tes de l'Exposition, Cha...
 7392     Chaoyang Gongyuan Shatan Paiqiu Chang, Beijing
 7393  State Sports Centre, Olympic Park, Sydney, New...

         result_participants  \
 0      17 from 15 countries
 1      31 from 14 countries
 2      43 from 15 countries
 3      30 from 14 countries
 4      16 from 16 countries
 ...                     ...
 7389  143 from 12 countries
 7390  107 from 21 countries
 7391    53 from 9 countries
 7392   48 from 17 countries
 7393   72 from 29 countries

                                           result_format  \
 0     Total of best lifts in snatch and clean & jerk...
 1            Two runs, total time determined placement.
 2           Four runs, total time determined placement.
 3                                                    na
 4                                                    na
 ...                                                 ...
 7389  Round-robin pools advance teams to classificat...
 7390                                                 na
 7391                                                 na
 7392  Top 16 teams from round-robin pools advanced t...
 7393  Round-robin qualifying pools, followed by sing...

                                           result_detail  \
 0                                                    na
 1     Gates: 38 / 36Length: 936 mStart Altitude: 196...
 2     Curves: 14Length: 1220 mStart Altitude: ?Verti...
 3                                                    na
 4                                                    na
 ...                                                 ...
 7389                                                 na
 7390                                                 na
 7391                                                 na
 7392                                                 na
 7393                                                 na

                                      result_description
 0     Not so much a competition as a coronation, the...
 1     The women‚Äôs giant slalom was postponed one day...
 2     Once more, the competitors from East and West ...
 3     There was little doubt that the Olympic 1500 m...
 4     Two former Olympic champions in the C-1 slalom...
 ...                                                 ...
 7389  All the games took place at Saitama Super Aren...
 7390  On the middle of an era of total domination of...
 7391  There were 53 fencers from 9 nations but 39 of...
 7392  After winning the 2004 gold medal, Misty May a...
 7393  Kong Linghui and Liu Guoliang had won the 1996...

 [7394 rows x 12 columns],
 Index(['event_title', 'edition', 'sport', 'sport_url', 'result_date',
        'result_location', 'result_participants', 'result_format',
        'result_detail', 'result_description'],
       dtype='object'))

In [29]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [30]:
# 9Ô∏è. Cr√©ation / transformation de colonnes

# Int√©gration des jeux equestres de 1956 aux jeux d'√©t√© de 1956 

df_result['edition'] = df_result['edition'].replace({'1956 Equestrian Olympics': '1956 Summer Olympics'})
df_result['edition_id'] = df_result['edition_id'].replace({48 : 14})

## 4. NETTOYAGE ATHLETE BIO

In [31]:
# 1Ô∏è. Importation
df_bio = import_raw("Olympic_Athlete_Bio.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Athlete_Bio.csv'

In [32]:
# 2Ô∏è. Inspection initiale
inspect_init(df_bio)

Aper√ßu des donn√©es :

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 ‚Äì 53.54 (1980).,NaN
1,112510,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...
2,114973,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,Personal Best: 10000 ‚Äì 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...
3,30359,P√©ter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,"Between 1927 and 1938, P√©ter Boros competed as...",NaN
4,50557,Rudolf Piowat√Ω,Male,28 April 1900,NaN,NaN,Czechoslovakia,TCH,Rudolf Piowaty joined the Czechoslovak militar...,NaN
...,...,...,...,...,...,...,...,...,...,...
155856,23748,Todd Makler,Male,8 January 1946,183.0,75,United States,USA,"Todd Makler grew up in suburban Philadelphia, ...","Brother of Brooke Makler Son of Paul Makler, Sr."
155857,58581,G√©za Holl√≥si,Male,2 May 1938,175.0,79,Hungary,HUN,G√©za Holl√≥si had the following finishes at maj...,NaN
155858,30387,J√≥zsef Keresztessy,Male,19 September 1885,NaN,NaN,Hungary,HUN,J√≥zsef Keresztessy was the grandson of J√≥zsef ...,NaN
155859,69900,Alexander Thieme,Male,13 January 1954,187.0,84,East Germany,GDR,East German Sprinter Alexander Thieme reached ...,Listed in Olympians Who Won a Medal at the Eur...
155860,74003,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,Sunday Bada was a top Nigerian one-lap runner ...,Listed in Olympians Who Won a Medal at the Wor...

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155861 entries, 0 to 155860
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   athlete_id     155861 non-null  int64
 1   name           155861 non-null  object
 2   sex            155861 non-null  object
 3   born           151808 non-null  object
 4   height         105112 non-null  float64
 5   weight         105112 non-null  object
 6   country        155861 non-null  object
 7   country_noc    155861 non-null  object
 8   description    54863 non-null   object
 9   special_notes  60637 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.9+ MB

R√©sum√© statistique :

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
count,1.558610e+05,155861,155861,151808,105112.000000,105112,155861,155861,54863,60637
unique,NaN,152747,2,42687,NaN,576,707,232,54011,53324
top,NaN,Ivan Ivanov,Male,1931,NaN,70,United States,USA,Personal Best: Mar ‚Äì unknown.,Listed in Olympians Who Received the Italian O...
freq,NaN,13,115527,61,NaN,4818,11691,11693,103,251
mean,1.571606e+05,NaN,NaN,NaN,176.327194,NaN,NaN,NaN,NaN,NaN
std,3.274205e+05,NaN,NaN,NaN,10.355980,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,NaN,NaN,NaN,127.000000,NaN,NaN,NaN,NaN,NaN
25%,3.927100e+04,NaN,NaN,NaN,170.000000,NaN,NaN,NaN,NaN,NaN
50%,7.852900e+04,NaN,NaN,NaN,176.000000,NaN,NaN,NaN,NaN,NaN
75%,1.189230e+05,NaN,NaN,NaN,183.000000,NaN,NaN,NaN,NaN,NaN
max,2.200000e+07,NaN,NaN,NaN,226.000000,NaN,NaN,NaN,NaN,NaN

D. Dimensions du DataFrame : 155861 lignes et 10 colonnes

In [33]:
# 3Ô∏è. Nettoyage des noms de colonnes
colonnes(df_bio)

In [34]:
# 4. Gestion des valeurs manquantes
val_manquantes(df_bio)

Valeurs manquantes :

athlete_id            0
name                  0
sex                   0
born               4053
height            50749
weight            50749
country               0
country_noc           0
description      100998
special_notes     95224
dtype: int64

Pourcentage de valeurs manquantes par colonne :

description      64.800046
special_notes    61.095463
height           32.560422
weight           32.560422
born              2.600394
athlete_id        0.000000
name              0.000000
sex               0.000000
country           0.000000
country_noc       0.000000
dtype: float64

In [35]:
# 5Ô∏è. Suppression des doublons
doublons(df_bio)

Doublons d√©tect√©s : 0

np.int64(0)

In [36]:
# 6Ô∏è. V√©rification et correction des types

# Conversion de la colonne 'born' en type datetime
# Conversion de la colonne 'weight' en numeric
df_bio["born"] = pd.to_datetime(df_bio["born"], errors="coerce")
df_bio["weight"] = pd.to_numeric(df_bio["weight"], errors="coerce")

print("\nType de donn√©e apr√®s conversion :")
print(df_bio['born'].dtype)

print("\nDataFrame apr√®s conversion :")
display(df_bio)

Type de donn√©e apr√®s conversion :
datetime64[ns]

DataFrame apr√®s conversion :

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,65649,Ivanka Bonova,Female,1949-04-04,166.0,55.0,Bulgaria,BUL,Personal Best: 400 ‚Äì 53.54 (1980).,NaN
1,112510,Nataliya Uryadova,Female,1977-03-15,184.0,70.0,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...
2,114973,Essa Ismail Rashed,Male,1986-12-14,165.0,55.0,Qatar,QAT,Personal Best: 10000 ‚Äì 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...
3,30359,P√©ter Boros,Male,1908-01-12,NaN,NaN,Hungary,HUN,"Between 1927 and 1938, P√©ter Boros competed as...",NaN
4,50557,Rudolf Piowat√Ω,Male,1900-04-28,NaN,NaN,Czechoslovakia,TCH,Rudolf Piowaty joined the Czechoslovak militar...,NaN
...,...,...,...,...,...,...,...,...,...,...
155856,23748,Todd Makler,Male,1946-01-08,183.0,75.0,United States,USA,"Todd Makler grew up in suburban Philadelphia, ...","Brother of Brooke Makler Son of Paul Makler, Sr."
155857,58581,G√©za Holl√≥si,Male,1938-05-02,175.0,79.0,Hungary,HUN,G√©za Holl√≥si had the following finishes at maj...,NaN
155858,30387,J√≥zsef Keresztessy,Male,1885-09-19,NaN,NaN,Hungary,HUN,J√≥zsef Keresztessy was the grandson of J√≥zsef ...,NaN
155859,69900,Alexander Thieme,Male,1954-01-13,187.0,84.0,East Germany,GDR,East German Sprinter Alexander Thieme reached ...,Listed in Olympians Who Won a Medal at the Eur...
155860,74003,Sunday Bada,Male,1969-06-22,188.0,79.0,Nigeria,NGR,Sunday Bada was a top Nigerian one-lap runner ...,Listed in Olympians Who Won a Medal at the Wor...

In [37]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_bio)

(        athlete_id                name     sex       born  height  weight  \
 0            65649       Ivanka Bonova  Female 1949-04-04   166.0    55.0
 1           112510   Nataliya Uryadova  Female 1977-03-15   184.0    70.0
 2           114973  Essa Ismail Rashed    Male 1986-12-14   165.0    55.0
 3            30359         P√©ter Boros    Male 1908-01-12     NaN     NaN
 4            50557      Rudolf Piowat√Ω    Male 1900-04-28     NaN     NaN
 ...            ...                 ...     ...        ...     ...     ...
 155856       23748         Todd Makler    Male 1946-01-08   183.0    75.0
 155857       58581        G√©za Holl√≥si    Male 1938-05-02   175.0    79.0
 155858       30387  J√≥zsef Keresztessy    Male 1885-09-19     NaN     NaN
 155859       69900    Alexander Thieme    Male 1954-01-13   187.0    84.0
 155860       74003         Sunday Bada    Male 1969-06-22   188.0    79.0

                    country country_noc  \
 0                 Bulgaria         BUL
 1       Russian Federation         RUS
 2                    Qatar         QAT
 3                  Hungary         HUN
 4           Czechoslovakia         TCH
 ...                    ...         ...
 155856       United States         USA
 155857             Hungary         HUN
 155858             Hungary         HUN
 155859        East Germany         GDR
 155860             Nigeria         NGR

                                               description  \
 0                      Personal Best: 400 ‚Äì 53.54 (1980).
 1                                                     nan
 2                 Personal Best: 10000 ‚Äì 27:20.97 (2006).
 3       Between 1927 and 1938, P√©ter Boros competed as...
 4       Rudolf Piowaty joined the Czechoslovak militar...
 ...                                                   ...
 155856  Todd Makler grew up in suburban Philadelphia, ...
 155857  G√©za Holl√≥si had the following finishes at maj...
 155858  J√≥zsef Keresztessy was the grandson of J√≥zsef ...
 155859  East German Sprinter Alexander Thieme reached ...
 155860  Sunday Bada was a top Nigerian one-lap runner ...

                                             special_notes
 0                                                     nan
 1       Listed in Olympians Who Won a Medal at the Eur...
 2       Listed in Olympians Who Won a Medal at the Asi...
 3                                                     nan
 4                                                     nan
 ...                                                   ...
 155856   Brother of Brooke Makler Son of Paul Makler, Sr.
 155857                                                nan
 155858                                                nan
 155859  Listed in Olympians Who Won a Medal at the Eur...
 155860  Listed in Olympians Who Won a Medal at the Wor...

 [155861 rows x 10 columns],
 Index(['name', 'sex', 'country', 'country_noc', 'description',
        'special_notes'],
       dtype='object'))

In [38]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
df_bio, obj_cols = nettoyage_caracteres(df_bio)

for col in obj_cols:
    print(f"\nValeurs uniques dans {col}:")
    print(df_bio[col].unique()[:10])                                 # Limit√© √† 10 pour √©viter trop de lignes

Valeurs uniques dans name:
['Ivanka Bonova' 'Nataliya Uryadova' 'Essa Ismail Rashed' 'P√©ter Boros'
 'Rudolf Piowat√Ω' 'Svetlana Kholomina' 'Vincent Riendeau' 'Tanja Morel'
 'Maksim Shabalin' 'G√© Regter']

Valeurs uniques dans sex:
['Female' 'Male']

Valeurs uniques dans country:
['Bulgaria' 'Russian Federation' 'Qatar' 'Hungary' 'Czechoslovakia' 'ROC'
 'Canada' 'Switzerland' 'Netherlands' 'Italy']

Valeurs uniques dans country_noc:
['BUL' 'RUS' 'QAT' 'HUN' 'TCH' 'ROC' 'CAN' 'SUI' 'NED' 'ITA']

Valeurs uniques dans description:
['Personal Best: 400 ‚Äì 53.54 (1980).' 'nan'
 'Personal Best: 10000 ‚Äì 27:20.97 (2006).'
 'Between 1927 and 1938, P√©ter Boros competed as a gymnast of BBTE. He won the Hungarian championship in rope climbing in 1932, and as part of the winning team in 1932, 1937 and 1938. As a member of the Hungarian national team, he took part in the 1930 World Championships and the 1932 Olympics both times finishing fourth in the team event. In individual events, he took two 5th places (pommelled horse and rope climbing). After the Olympics due to a series of injuries he did not regain his old form. After completing his career, he worked as a paper merchant.'
 'Rudolf Piowaty joined the Czechoslovak military near the end of World War I, and began his full-time military service in October 1921, leading to his career as a military officer. He also became a top swimmer while in the Army and won his first Czechoslovak title in 1921. He continued to win national titles over the next few years, allowing him to compete at the 1924 Paris Olympics. During World War II Piowaty left occupied Czechoslovakia in July 1942, and made his way to Germany, near Lake Constance. He used his swimming prowess to get to Switzerland, swimming across the lake. Piowaty settled in Gen√®ve where he worked for the League of Nations in the Office of the Permanent Delegation to the Czechoslovak Republic. After the liberation of France, Piowaty was sent across that country to Great Britain where he served in the Czechoslovak reserves as a lieutenant and became interim commander of his company. He returned to Czechoslovakia on 14 November 1945 and was awarded the Czechoslovak Military Medal of Merit, 2nd degree, and the Czechoslovak Military Commemorative Medal, after which he was transferred to the reserves permanently. After the Communist takeover Piowaty left his home country in 1948 to settle in Canada where he worked in the furniture trade and leisure and tourism.'
 'Marlies Rostock won gold in the cross-country relay at Lake Placid and a silver medal at the 1978 World Championships. At the national level, she placed third in the 1980 5 km and the 10 km in 1978-80. She was married to Nordic Combined Uwe Dotzauer, though they later divorced. She then married Stefan Fraas, general music director of the philharmonic orchestra Vogtland.'
 'Roper Barrett learned his tennis at Merchant Taylor‚Äôs School and the Forest Gate Club and was able to devote a great deal of time to the game. He won the Belgian Open singles title for four successive years from 1900, the Austrian title in 1904 and a vast number of tournaments at home. He was most successful in the Suffolk Championships at Saxmundham which he won no less than 17 times between 1898 and 1921. Barrett also reached the final of the All-comers singles at Wimbledon four times, going through to the Challenge Round in 1911 when he was forced to retire against Tony Wilding with the score level at two sets all. Despite these considerable successes, Roper Barett must, in retrospect, be considered as a better doubles player. With his Olympic partner, Arthur ‚ÄúWentworth‚Äù Gore, they made up one of the more formidable doubles combinations of their era, winning Wimbledon in 1909 and reaching the All-Comers final on three other occasions. They won the Olympic covered court title in 1908 and the following year took the British indoor title. Barrett and Gore went to Stockholm in 1912 to defend their Olympic indoor crown but after winning the first two sets were beaten by a Swedish pair in the semi-finals. Barrett, however, had the consolation of winning a silver medal in the mixed doubles with Helen Aitchison as his partner. Apart from his win at Wimbledon with Gore in 1909, Barrett was also successful in 1912 and 1913 when he was partnered with Charles Dixon, who, like Barrett, was a solicitor by profession. Additionally, he won the covered court mixed doubles in 1910 with Mrs. O‚ÄôNeill. Roper Barrett played in the first Davis cup match at Boston in 1900 with his last appearance coming in 1919. Although he did not have a particularly distinguished playing record in Cup matches he did, as non-playing captain, lead the British team to four consecutive victories in the thirties. Barrett served as Chairman of the Lawn Tennis Association in 1924 and was active in civic affairs, being twice Master of the Worshipful Company of Farriers and Chief Commoner of the City of London in 1924. He was also a keen footballer, playing regularly for Corinthians Casuals at Weybridge.'
 'Lorna Frampton was just sixteen years old when she qualified for the 1936 Olympic Games by posting a convincing victory at the British trials. In Berlin she moved through the heats and semi-final but finished the final in sixth ‚Äì a full second outside of the medal positions. By then working as a clerk with Lloyds Bank she won the 150 yards backstroke at the 1937 Amateur Swimming Association championships and was chosen to represent England at the 1938 British Empire Games in Sydney. Although she failed to win a medal in her individual event she returned home as a champion as, with Doris Storey and Margery Hinton, she was a member of the English team that won the 3√ó110 yard medley relay. In 1939 she won the 150 yards backstroke in the London-Paris meeting but her competitive swimming career was ended by the outbreak of war. She later worked as a coach at Watford Swimming Club during the fifties. Frampton attended Spring Grove Grammar School in Isleworth which also produced fellow Olympians Doris Batter and Sylvia Cheeseman.'
 'Personal Best: JT ‚Äì 62.23 (2007).'
 'Vir√°g Csurg√≥ was a professional Hungarian tennis player who specialised as a doubles player. Csurg√≥ achieved a career-best doubles ranking of 84 in the world in September 1998. She also played for the Hungary Fed Cup team. Csurg√≥ won her first doubles tournament on the ITF circuit in July 1988 at Cava Tirr, Italy. She would win a total of 17 ITF doubles titles during her career along with six singles titles. At Grand Slam tournaments Csurg√≥ reached the second round in the doubles at the Australian, French, and US Opens. Csurg√≥ competed in the singles and doubles at the 1996 Atlanta Olympics, reaching the second round in both events.']

Valeurs uniques dans special_notes:
['nan'
 'Listed in Olympians Who Won a Medal at the European Beach Volleyball Championships (1‚Äì0‚Äì0 2006 Den Haag gold)'
 'Listed in Olympians Who Won a Medal at the Asian Games (0‚Äì2‚Äì0 2006 Doha ATH silver: 10000 m; 2010 Guangzhou ATH silver: 10000 m)'
 'Listed in Olympians Who Won a Medal at the Summer Pan American Games (0‚Äì2‚Äì1 2015 Toronto DIV silver: synchronized platform; 2019 Lima DIV silver: synchronized platform, bronze: platform) Listed in Olympians Who Won a Medal at the World Aquatics Championships (0‚Äì1‚Äì0 2015 Kazan DIV silver: synchronized platform (mixed)) Listed in Olympians Who Won a Medal at the British Empire/Commonwealth Games (0‚Äì0‚Äì2 2014 Glasgow DIV bronze: platform; 2018 Gold Coast DIV bronze: platform)'
 'Listed in Olympians Who Won a Medal at the European Bob & Skeleton Championships (0‚Äì0‚Äì2 2003 Winterberg bronze: Skeleton; 2006 St. Moritz bronze: Skeleton)'
 'Listed in Olympians Who Won a Medal at the European Figure Skating Championships (2‚Äì1‚Äì0 2007 Warszawa silver: ice dancing; 2008 Zagreb gold: ice dancing; 2010 Tallinn gold: ice dancing) Listed in Olympians Who Won a Medal at the World Figure Skating Championships (1‚Äì0‚Äì0 2009 Los Angeles gold: ice dancing)'
 'Wife (divorced) of Uwe Dotzauer Listed in Olympians Who Won a Medal at the World Nordic Ski Championships (1‚Äì1‚Äì0 1978 Lahti CCS silver: 4√ó5 km relay; 1980 Lake Placid (Olympics) CCS gold: 4√ó5 km relay)'
 'Listed in Olympians Who Won a Medal at the Pan Pacific Swimming Championships (0‚Äì0‚Äì1 1999 Sydney bronze: 4√ó100 m freestyle relay) Listed in Olympians Who Won a Medal at the British Empire/Commonwealth Games (0‚Äì1‚Äì2 1998 Kuala Lumpur SWI silver: 4√ó100 m freestyle, bronze: 4√ó100 m medley (swam in heats only); 2002 Manchester SWI bronze: 4√ó100 m freestyle)'
 'Listed in Olympians Who Won a Medal at the European Short Track Speed Skating Championships (0‚Äì1‚Äì0 2012 Mlad√° Boleslav silver: 5000 m relay) Listed in Olympians Who Won a Medal at the World Short Track Speed Skating Championships (0‚Äì1‚Äì0 2013 Debrecen silver: 5000 m relay)'
 'Listed in Olympians Who Won a Medal at the Mediterranean Games (1‚Äì0‚Äì1 1991 Athina ROW bronze: coxless fours; 1993 Linguadoca-Roussillon ROW gold: coxless fours)']

In [39]:
# 9Ô∏è. Cr√©ation / transformation de colonnes
# Suppression de 2 colonnes

col_a_supprimer = ['description','special_notes']

df_bio = df_bio.drop(columns=col_a_supprimer , axis=1)
df_bio.head()

,athlete_id,name,sex,born,height,weight,country,country_noc
0,65649,Ivanka Bonova,Female,1949-04-04,166.0,55.0,Bulgaria,BUL
1,112510,Nataliya Uryadova,Female,1977-03-15,184.0,70.0,Russian Federation,RUS
2,114973,Essa Ismail Rashed,Male,1986-12-14,165.0,55.0,Qatar,QAT
3,30359,P√©ter Boros,Male,1908-01-12,NaN,NaN,Hungary,HUN
4,50557,Rudolf Piowat√Ω,Male,1900-04-28,NaN,NaN,Czechoslovakia,TCH

In [40]:
#Ajout d'une colonne √Çge
#Ajout d'une colonne IMC

df_bio["imc"] = df_bio["weight"] / ((df_bio["height"] / 100) ** 2)
df_bio["ip"] = df_bio["weight"] / ((df_bio["height"] / 100) ** 3)
df_bio.head()

,athlete_id,name,sex,born,height,weight,country,country_noc,imc,ip
0,65649,Ivanka Bonova,Female,1949-04-04,166.0,55.0,Bulgaria,BUL,19.959355,12.023708
1,112510,Nataliya Uryadova,Female,1977-03-15,184.0,70.0,Russian Federation,RUS,20.675803,11.236850
2,114973,Essa Ismail Rashed,Male,1986-12-14,165.0,55.0,Qatar,QAT,20.202020,12.243649
3,30359,P√©ter Boros,Male,1908-01-12,NaN,NaN,Hungary,HUN,NaN,NaN
4,50557,Rudolf Piowat√Ω,Male,1900-04-28,NaN,NaN,Czechoslovakia,TCH,NaN,NaN

In [41]:
# Ajout d'une colonne "born_age" qui nous permettra plus tard de calculer l'age de l'athlete pour chacune de ses participations

df_bio['born_year'] = df_bio['born'].dt.year
df_bio['born_year'].dtypes
df_bio['born_year'] = df_bio['born_year'].astype('Int64')
df_bio.head()

,athlete_id,name,sex,born,height,weight,country,country_noc,imc,ip,born_year
0,65649,Ivanka Bonova,Female,1949-04-04,166.0,55.0,Bulgaria,BUL,19.959355,12.023708,1949
1,112510,Nataliya Uryadova,Female,1977-03-15,184.0,70.0,Russian Federation,RUS,20.675803,11.236850,1977
2,114973,Essa Ismail Rashed,Male,1986-12-14,165.0,55.0,Qatar,QAT,20.202020,12.243649,1986
3,30359,P√©ter Boros,Male,1908-01-12,NaN,NaN,Hungary,HUN,NaN,NaN,1908
4,50557,Rudolf Piowat√Ω,Male,1900-04-28,NaN,NaN,Czechoslovakia,TCH,NaN,NaN,1900

## 5. NETTOYAGE ATHLETE EVENT RESULTS

In [42]:
# 1Ô∏è. Importation
df_athlete_result = import_raw("Olympic_Athlete_Event_Results.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Athlete_Event_Results.csv'

In [43]:
# 2Ô∏è. Inspection initiale
inspect_init(df_athlete_result)

Aper√ßu des donn√©es :

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,NaN,False
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Vikt√≥ria ƒåer≈àansk√°,138683,17,NaN,False
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,NaN,False
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,NaN,False
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,NaN,False

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316834 entries, 0 to 316833
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   edition      316834 non-null  object
 1   edition_id   316834 non-null  int64
 2   country_noc  316834 non-null  object
 3   sport        316834 non-null  object
 4   event        316834 non-null  object
 5   result_id    316834 non-null  int64
 6   athlete      316834 non-null  object
 7   athlete_id   316834 non-null  int64
 8   pos          316834 non-null  object
 9   medal        44687 non-null   object
 10  isTeamSport  316834 non-null  bool
dtypes: bool(1), int64(3), object(7)
memory usage: 24.5+ MB

R√©sum√© statistique :

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
count,316834,316834.000000,316834,316834,316834,3.168340e+05,316834,3.168340e+05,316834,44687,316834
unique,55,NaN,231,112,964,NaN,154213,NaN,2449,3,2
top,2020 Summer Olympics,NaN,USA,Athletics,"Football, Men",NaN,Tait McKenzie,NaN,1,Gold,False
freq,14816,NaN,23700,47792,7835,NaN,58,NaN,16278,15072,194527
mean,NaN,30.038815,NaN,NaN,NaN,1.502725e+06,NaN,1.302874e+05,NaN,NaN,NaN
std,NaN,18.430840,NaN,NaN,NaN,4.778610e+06,NaN,2.752059e+05,NaN,NaN,NaN
min,NaN,1.000000,NaN,NaN,NaN,1.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN
25%,NaN,16.000000,NaN,NaN,NaN,3.163700e+04,NaN,3.619725e+04,NaN,NaN,NaN
50%,NaN,24.000000,NaN,NaN,NaN,6.600900e+04,NaN,7.656950e+04,NaN,NaN,NaN
75%,NaN,49.000000,NaN,NaN,NaN,2.603630e+05,NaN,1.115778e+05,NaN,NaN,NaN
max,NaN,62.000000,NaN,NaN,NaN,9.001677e+07,NaN,2.200000e+07,NaN,NaN,NaN

D. Dimensions du DataFrame : 316834 lignes et 11 colonnes

In [44]:
# 3Ô∏è. Nettoyage des noms de colonnes
colonnes(df_athlete_result)

In [45]:
# 4. Gestion des valeurs manquantes
val_manquantes(df_athlete_result)

Valeurs manquantes :

edition             0
edition_id          0
country_noc         0
sport               0
event               0
result_id           0
athlete             0
athlete_id          0
pos                 0
medal          272147
isteamsport         0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

medal          85.895769
edition         0.000000
edition_id      0.000000
country_noc     0.000000
sport           0.000000
event           0.000000
result_id       0.000000
athlete         0.000000
athlete_id      0.000000
pos             0.000000
isteamsport     0.000000
dtype: float64

In [46]:
# 5Ô∏è. V√©rification et Gestion des doublons
doublons(df_athlete_result)

Doublons d√©tect√©s : 1208

np.int64(1208)

In [47]:
# Visualiser les lignes en doublons
# toutes_occurrences = df[df.duplicated(keep=False)]
# toutes_occurrences.head(50)

# Suppression des doublons

nb_doublons = doublons(df_athlete_result)

df_athlete_result = df_athlete_result.drop_duplicates()
print(f"\nDoublons d√©tect√©s : {nb_doublons}")
display(nb_doublons)

Doublons d√©tect√©s : 1208

Doublons d√©tect√©s : 1208

np.int64(1208)

In [48]:
# 6Ô∏è. V√©rification et correction des types
# RAS

In [49]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_athlete_result)

(                     edition  edition_id country_noc      sport  \
 0       1908 Summer Olympics           5         ANZ  Athletics
 1       1908 Summer Olympics           5         ANZ  Athletics
 2       1908 Summer Olympics           5         ANZ  Athletics
 3       1908 Summer Olympics           5         ANZ  Athletics
 4       1908 Summer Olympics           5         ANZ  Athletics
 ...                      ...         ...         ...        ...
 316829  2022 Winter Olympics          62         NED  Bobsleigh
 316830  2022 Winter Olympics          62         SVK  Bobsleigh
 316831  2022 Winter Olympics          62         KOR  Bobsleigh
 316832  2022 Winter Olympics          62         JAM  Bobsleigh
 316833  2022 Winter Olympics          62         UKR  Bobsleigh

                   event  result_id                     athlete  athlete_id  \
 0       100 metres, Men      56265             Ernest Hutcheon       64710
 1       400 metres, Men      56313                Henry Murray       64756
 2       800 metres, Men      56338               Harvey Sutton       64808
 3       800 metres, Men      56338                 Guy Haskins      922519
 4       800 metres, Men      56338                Joseph Lynch       64735
 ...                 ...        ...                         ...         ...
 316829   Monobob, Women   19019671              Karlien Sleper      148662
 316830   Monobob, Women   19019671          Vikt√≥ria ƒåer≈àansk√°      138683
 316831   Monobob, Women   19019671                  Kim Yu-Ran      137542
 316832   Monobob, Women   19019671  Jazmine Fenlator-Victorian      128682
 316833   Monobob, Women   19019671                Lidiya Hunko      149047

               pos medal  isteamsport
 0             DNS   nan        False
 1             DNS   nan        False
 2       3 h8 r1/2   nan        False
 3             DNS   nan        False
 4             DNS   nan        False
 ...           ...   ...          ...
 316829         16   nan        False
 316830         17   nan        False
 316831         18   nan        False
 316832         19   nan        False
 316833         20   nan        False

 [315626 rows x 11 columns],
 Index(['edition', 'country_noc', 'sport', 'event', 'athlete', 'pos', 'medal'], dtype='object'))

In [50]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [51]:
# 9Ô∏è. Cr√©ation / transformation de colonnes

# Je souhaite calculer l'√¢ge de l'athlete au moment de son r√©sultat
# 1ere √©tape : je merge la colonne de l'ann√©e de naissance de l'athlete
# et la renomme pour la rendre compr√©hensible

df_athlete_result = pd.merge(
    df_athlete_result,
    df_bio[['athlete_id', 'born_year']].rename(columns={'born_year': 'athlete_born_year'}),
    how='left',
    on="athlete_id"
)

# 2eme √©tape : je merge la colonne de l'ann√©e de l'√©dition lors de laquelle l'athlete a obtenu son resultat 
# et la renomme pour la rendre compr√©hensible

df_athlete_result = pd.merge(
    df_athlete_result,
    df_games[['edition_id', 'year']].rename(columns={'year': 'edition_year'}),
    how='left',
    on="edition_id"
)


# 3√®me √©tape : je convertis le format des colonnes en INT64

df_athlete_result['edition_year'] = df_athlete_result['edition_year'].astype('Int64')
df_athlete_result['athlete_born_year'] = df_athlete_result['athlete_born_year'].astype('Int64')

# 4√®me √©tape : je fais la diff√©rence entre les 2 ann√©es pour calculer l'√¢ge

df_athlete_result['age'] = df_athlete_result['edition_year'] - df_athlete_result['athlete_born_year']
df_athlete_result

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isteamsport,athlete_born_year,edition_year,age
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,nan,False,1889,1908,19
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,nan,False,1886,1908,22
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,nan,False,1882,1908,26
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,nan,False,1883,1908,25
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,nan,False,1878,1908,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315621,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,nan,False,1993,2022,29
315622,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Vikt√≥ria ƒåer≈àansk√°,138683,17,nan,False,2002,2022,20
315623,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,nan,False,1992,2022,30
315624,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,nan,False,1985,2022,37
315625,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,nan,False,1993,2022,29

In [52]:
# 9Ô∏è. Cr√©ation / transformation de colonnes

# Je souhaite ajouter une colonne m'indiquant si le resultat obtenu par l'athlete a eu lieu dans son pays d'origine ou √† l'√©tranger
# 1√®re √©tape : joindre la code_noc du pays organisateur de l'edition
df_athlete_result = pd.merge(
    df_athlete_result,
    df_games[['edition_id','country_noc']].rename(columns={'country_noc': 'country_noc_edition'}),
    how='left',
    on='edition_id'
)

# 2√®me √©tape : comparer le code_noc du pays organisateur avec celui de l'athlete

df_athlete_result['home_country_edition'] = (df_athlete_result['country_noc_edition'] == df_athlete_result['country_noc'])
df_athlete_result.sample(5)

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isteamsport,athlete_born_year,edition_year,age,country_noc_edition,home_country_edition
37195,1924 Summer Olympics,8,BEL,Cycling Track,"50 kilometres, Men",153341,Joseph Verheyen,17056,AC,nan,False,1896,1924,28,FRA,False
61160,1992 Winter Olympics,44,AUT,Cross Country Skiing,"10/15 kilometres Pursuit, Men",2027,Alois Stadlober,97753,10,nan,False,1962,1992,30,FRA,False
126650,2000 Summer Olympics,25,HUN,Water Polo,"Water Polo, Men",38884,Attila V√°ri,94627,1,Gold,True,1976,2000,24,AUS,False
118254,1972 Summer Olympics,18,MEX,Swimming,"4 √ó 100 metres Medley Relay, Men",6317,Jos√© Joaqu√≠n Santib√°√±ez,49241,13,nan,True,1952,1972,20,FRG,False
289980,1998 Winter Olympics,46,SWE,Luge,"Doubles, Open",185,Anders S√∂derberg,98085,12,nan,True,1971,1998,27,JPN,False

In [53]:
# Cr√©ation d'un sport_event_id pour pouvoir le lier √† la table sport_event

unique_sport_event =  df_athlete_result[["sport","event"]].drop_duplicates().reset_index(drop=True)

unique_sport_event["sport_event_id"] = range(1, len(unique_sport_event) + 1)

df_athlete_result = df_athlete_result.merge(
    unique_sport_event,
    on = ["sport","event"],
    how="left"
)


# Cr√©ation d'un sport_id pour pouvoir le lier √† la table sport_event
unique_sport =  df_athlete_result[["sport"]].drop_duplicates().reset_index(drop=True)

unique_sport["sport_id"] = range(1, len(unique_sport) + 1)

df_athlete_result = df_athlete_result.merge(
    unique_sport,
    on = ["sport"],
    how="left"
)

df_athlete_result

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isteamsport,athlete_born_year,edition_year,age,country_noc_edition,home_country_edition,sport_event_id,sport_id
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,nan,False,1889,1908,19,GBR,False,1,1
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,nan,False,1886,1908,22,GBR,False,2,1
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,nan,False,1882,1908,26,GBR,False,3,1
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,nan,False,1883,1908,25,GBR,False,3,1
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,nan,False,1878,1908,30,GBR,False,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315621,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,nan,False,1993,2022,29,CHN,False,778,22
315622,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Vikt√≥ria ƒåer≈àansk√°,138683,17,nan,False,2002,2022,20,CHN,False,778,22
315623,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,nan,False,1992,2022,30,CHN,False,778,22
315624,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,nan,False,1985,2022,37,CHN,False,778,22
315625,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,nan,False,1993,2022,29,CHN,False,778,22

In [54]:
# Suppression de la colonne "isteamsport" car cette information est sur notre table sport_event
df_athlete_result_v1 = df_athlete_result.copy()

col_a_supprimer = ['isteamsport']

df_athlete_result = df_athlete_result.drop(columns=col_a_supprimer , axis=1)

In [55]:
# Int√©gration des jeux equestres de 1956 aux jeux d'√©t√© de 1956 

df_athlete_result['edition'] = df_athlete_result['edition'].replace({'1956 Equestrian Olympics': '1956 Summer Olympics'})
df_athlete_result['edition_id'] = df_athlete_result['edition_id'].replace({48 : 14})

## 6. NETTOYAGE MEDAL TALLY

In [56]:
# 1Ô∏è. Importation
df_medal = import_raw("Olympic_Games_Medal_Tally.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Games_Medal_Tally.csv'

In [57]:
# 2Ô∏è. Inspection initiale
inspect_init(df_medal)

Aper√ßu des donn√©es :

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   edition      1807 non-null   object
 1   edition_id   1807 non-null   int64
 2   year         1807 non-null   int64
 3   country      1807 non-null   object
 4   country_noc  1807 non-null   object
 5   gold         1807 non-null   int64
 6   silver       1807 non-null   int64
 7   bronze       1807 non-null   int64
 8   total        1807 non-null   int64
dtypes: int64(6), object(3)
memory usage: 127.2+ KB

R√©sum√© statistique :

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
count,1807,1807.000000,1807.000000,1807,1807,1807.000000,1807.000000,1807.000000,1807.000000
unique,55,NaN,NaN,154,154,NaN,NaN,NaN,NaN
top,2020 Summer Olympics,NaN,NaN,United States,USA,NaN,NaN,NaN,NaN
freq,93,NaN,NaN,53,53,NaN,NaN,NaN,NaN
mean,NaN,31.635307,1979.744328,NaN,NaN,3.737133,3.721638,3.971223,11.429994
std,NaN,18.472012,32.726372,NaN,NaN,7.554092,6.411636,6.169554,19.423201
min,NaN,1.000000,1896.000000,NaN,NaN,0.000000,0.000000,0.000000,1.000000
25%,NaN,17.000000,1960.000000,NaN,NaN,0.000000,1.000000,1.000000,2.000000
50%,NaN,25.000000,1988.000000,NaN,NaN,1.000000,2.000000,2.000000,5.000000
75%,NaN,53.000000,2008.000000,NaN,NaN,4.000000,4.000000,5.000000,13.000000
max,NaN,62.000000,2022.000000,NaN,NaN,83.000000,85.000000,83.000000,248.000000

D. Dimensions du DataFrame : 1807 lignes et 9 colonnes

In [58]:
# 3Ô∏è. Nettoyage des noms de colonnes
colonnes(df_medal)

In [59]:
# 4. Gestion des valeurs manquantes
val_manquantes(df_medal)

Valeurs manquantes :

edition        0
edition_id     0
year           0
country        0
country_noc    0
gold           0
silver         0
bronze         0
total          0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

edition        0.0
edition_id     0.0
year           0.0
country        0.0
country_noc    0.0
gold           0.0
silver         0.0
bronze         0.0
total          0.0
dtype: float64

In [60]:
# 5Ô∏è. Suppression des doublons
doublons(df_medal)

Doublons d√©tect√©s : 0

np.int64(0)

In [61]:
# 6Ô∏è. V√©rification et correction des types
# RAS

In [62]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_medal)

(                   edition  edition_id  year        country country_noc  gold  \
 0     1896 Summer Olympics           1  1896  United States         USA    11
 1     1896 Summer Olympics           1  1896         Greece         GRE    10
 2     1896 Summer Olympics           1  1896        Germany         GER     6
 3     1896 Summer Olympics           1  1896         France         FRA     5
 4     1896 Summer Olympics           1  1896  Great Britain         GBR     2
 ...                    ...         ...   ...            ...         ...   ...
 1802     1906 Intercalated           4  1906         Canada         CAN     1
 1803     1906 Intercalated           4  1906         Norway         NOR     1
 1804     1906 Intercalated           4  1906    Netherlands         NED     0
 1805     1906 Intercalated           4  1906      Australia         AUS     0
 1806     1906 Intercalated           4  1906        Bohemia         BOH     0

       silver  bronze  total
 0          7       2     20
 1         18      19     47
 2          5       2     13
 3          4       2     11
 4          3       2      7
 ...      ...     ...    ...
 1802       1       0      2
 1803       1       0      2
 1804       1       2      3
 1805       0       3      3
 1806       0       2      2

 [1807 rows x 9 columns],
 Index(['edition', 'country', 'country_noc'], dtype='object'))

In [63]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [64]:
# 9Ô∏è. Cr√©ation / transformation de colonnes
# Int√©gration des medailles des jeux equestres de 1956 aux jeux d'√©t√© dans le tableau des m√©dailles

df_medal['edition'] = df_medal['edition'].replace({'1956 Equestrian' : '1956 Summer Olympics'})
df_medal['edition_id'] = df_medal['edition_id'].replace({48 : 14})
df_medal

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

In [65]:
# Faire le Group By

aggregation_functions = {
    'gold': 'sum',
    'silver': 'sum',
    'bronze': 'sum',
    'total': 'sum',
    'year': 'first',
    'country': 'first',
    'edition_id': 'first'
}

df_medal = df_medal .groupby(['edition', 'country_noc']).agg(aggregation_functions).reset_index()

df_medal  = df_medal[['edition', 'edition_id', 'year', 'country', 'country_noc', 'gold', 'silver', 'bronze', 'total']]
df_medal

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,Australia,AUS,2,0,0,2
1,1896 Summer Olympics,1,1896,Austria,AUT,2,1,2,5
2,1896 Summer Olympics,1,1896,Denmark,DEN,1,2,3,6
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1796,2022 Winter Olympics,62,2022,Switzerland,SUI,7,2,6,15
1797,2022 Winter Olympics,62,2022,Slovakia,SVK,1,0,1,2
1798,2022 Winter Olympics,62,2022,Sweden,SWE,8,5,5,18
1799,2022 Winter Olympics,62,2022,Ukraine,UKR,0,1,0,1
1800,2022 Winter Olympics,62,2022,United States,USA,8,10,7,25

## 7. CREATION SPORT EVENT

In [66]:
df_athlete_result_v1.head()

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isteamsport,athlete_born_year,edition_year,age,country_noc_edition,home_country_edition,sport_event_id,sport_id
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,nan,False,1889,1908,19,GBR,False,1,1
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,nan,False,1886,1908,22,GBR,False,2,1
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,nan,False,1882,1908,26,GBR,False,3,1
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,nan,False,1883,1908,25,GBR,False,3,1
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,nan,False,1878,1908,30,GBR,False,3,1

In [67]:
# 1Ô∏è. Cr√©ation table
df_sport_event = df_athlete_result_v1[["edition","sport", "event", "isteamsport","sport_event_id","sport_id"]].copy()

In [68]:
# 2Ô∏è. D√©dupliquer les lignes par sport_event_id
df_sport_event = (
    df_sport_event
    .drop_duplicates(subset=["sport_event_id"])
    .reset_index(drop=True)
)

In [69]:
# 3Ô∏è. Cr√©ation de la colonne sport_event
df_sport_event["sport_event"] = (
    df_sport_event["sport"]
    + ","
    + df_sport_event["event"]
)

In [70]:
# 4. Renommer la colonne "isteamsport"
df_sport_event = df_sport_event.rename(columns={
    "isteamsport": "collective_sport"
})
df_sport_event["collective_sport"] = df_sport_event["collective_sport"].astype(bool)

In [71]:
# 5. Cr√©ation de la colonne gender_category

df_sport_event["gender_category"] =  df_sport_event["event"].apply(
    lambda x: x.split(",")[-1].strip() if isinstance(x, str) else None
)

df_sport_event

,edition,sport,event,collective_sport,sport_event_id,sport_id,sport_event,gender_category
0,1908 Summer Olympics,Athletics,"100 metres, Men",False,1,1,"Athletics,100 metres, Men",Men
1,1908 Summer Olympics,Athletics,"400 metres, Men",False,2,1,"Athletics,400 metres, Men",Men
2,1908 Summer Olympics,Athletics,"800 metres, Men",False,3,1,"Athletics,800 metres, Men",Men
3,1908 Summer Olympics,Athletics,"1,500 metres, Men",False,4,1,"Athletics,1,500 metres, Men",Men
4,1908 Summer Olympics,Athletics,"5 miles, Men",False,5,1,"Athletics,5 miles, Men",Men
...,...,...,...,...,...,...,...,...
1089,1904 Summer Olympics,Swimming,"100 yards, Handicap, Men",False,1090,6,"Swimming,100 yards, Handicap, Men",Men
1090,1904 Summer Olympics,Swimming,"220 yards, Handicap, Men",False,1091,6,"Swimming,220 yards, Handicap, Men",Men
1091,1904 Summer Olympics,Swimming,"1 mile, Handicap, Men",False,1092,6,"Swimming,1 mile, Handicap, Men",Men
1092,1904 Summer Olympics,Tennis,"Singles, Boys",False,1093,8,"Tennis,Singles, Boys",Boys
1093,1904 Summer Olympics,Weightlifting,"All-Around Dumbbell Contest, Men",False,1094,18,"Weightlifting,All-Around Dumbbell Contest, Men",Men

In [72]:
# 6. Cr√©ation de la colonne season

df_sport_event["season"] = "Other"

df_sport_event.loc[
    df_sport_event["edition"].str.contains("Summer", case=False, na=False),
    "season"
] = "Summer"

df_sport_event.loc[
    df_sport_event["edition"].str.contains("Winter", case=False, na=False),
    "season"
] = "Winter"

In [73]:
# 7. Cr√©ation de la colonne weight_category_sport

## 7.1 Liste des sports avec cat√©gories de poids
SPORTS_WITH_WEIGHT_CATEGORIES = {
    "Boxing",
    "Wrestling",
    "Judo",
    "Weightlifting",
    "Taekwondo",
    "Karate",
    "Wushu",
    "Savate",
    "Gl√≠ma",
    "Canne De Combat",
    "Tug-Of-War",
    "Firefighting"
}

## 7.2 Cr√©ation de la colonne
df_sport_event["weight_category_sport"] = (
    df_sport_event["sport"]
    .astype(str)
    .str.strip()
    .isin(SPORTS_WITH_WEIGHT_CATEGORIES)
)

In [74]:
# 8. Suppression de la colonne "edition" car pas utile dans ce dataframe

col_a_supprimer = ['edition']

df_sport_event = df_sport_event.drop(columns=col_a_supprimer , axis=1)

In [75]:
# 9. Arrangement des colonnes dans le dataframe

df_sport_event = df_sport_event[
    [
        "sport_event_id",
        "sport_event",
        "event",
        "sport",
        "sport_id",
        "weight_category_sport",
        "season",
        "collective_sport",
        "gender_category"
    ]
]

df_sport_event.head()

,sport_event_id,sport_event,event,sport,sport_id,weight_category_sport,season,collective_sport,gender_category
0,1,"Athletics,100 metres, Men","100 metres, Men",Athletics,1,False,Summer,False,Men
1,2,"Athletics,400 metres, Men","400 metres, Men",Athletics,1,False,Summer,False,Men
2,3,"Athletics,800 metres, Men","800 metres, Men",Athletics,1,False,Summer,False,Men
3,4,"Athletics,1,500 metres, Men","1,500 metres, Men",Athletics,1,False,Summer,False,Men
4,5,"Athletics,5 miles, Men","5 miles, Men",Athletics,1,False,Summer,False,Men

## 8. CREATION ATHLETES STATS

In [76]:
# 1. S√©lection colonnes qui nous int√©resse
df_athlete_stats = (df_athlete_result[["athlete_id", "edition_year"]].drop_duplicates())

In [77]:
# 2. Compter le nombre total de m√©dailles par athl√®te et par √©dition
medals_per_edition = (
    df_athlete_result[df_athlete_result["medal"].notna()]
    .groupby(["athlete_id", "edition_year"])
    .size()
    .reset_index(name="total_medals")
)

In [78]:
# 3. Fusionner
df_athlete_stats = df_athlete_stats.merge(
    medals_per_edition,
    on=["athlete_id", "edition_year"],
    how="left"
)

# les athl√®tes sans m√©daille auront NaN ‚Üí 0
df_athlete_stats["total_medals"] = df_athlete_stats["total_medals"].fillna(0).astype(int)

In [79]:
# 4. Trier chronologiquement
df_athlete_stats = df_athlete_stats.sort_values(
    ["athlete_id", "edition_year"]
)

In [80]:
# 5. Num√©ro de participation
df_athlete_stats["participation_number"] = (
    df_athlete_stats
    .groupby("athlete_id")
    .cumcount() + 1
)

## 9. NETTOYAGE STRIPPED MEDALS ATHLETES

In [81]:
# 1Ô∏è. Importation
df_dopage_athlete = import_raw("Olympic_Stripped_Medals_Athletes.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Stripped_Medals_Athletes.csv'

In [82]:
# 2Ô∏è. Inspection initiale
inspect_init(df_dopage_athlete)

Aper√ßu des donn√©es :

,Olympics,Athlete,Country,Medal,Event,Ref
0,1904 Summer Olympics,Jack Egan,United States,NaN,"Boxing, Men's Lightweight (Z)",NaN
1,1904 Summer Olympics,Jack Egan,United States,NaN,"Boxing, Men's Welterweight (Z)",NaN
2,1948 Summer Olympics,Equestrian team (Gehn√§ll Persson),Sweden,NaN,"Equestrian, Team dressage (Z)",NaN
3,1968 Summer Olympics,Modern Pentathlon team (Hans-Gunnar Liljenwall),Sweden,NaN,"Modern pentathlon, Team",NaN
4,1972 Summer Olympics,Bakhvain Buyadaa,Mongolia,NaN,"Judo, Men's 63 kg (X)",NaN
...,...,...,...,...,...,...
161,2016 Summer Olympics,Mikhail Aloyan,Russia,NaN,"Boxing, Men's flyweight",NaN
162,2018 Winter Olympics,Curling team (Aleksandr Krushelnitckii),Olympic Athletes from Russia,NaN,"Curling, Mixed doubles",NaN
163,2020 Summer Olympics,Relay team (Chijindu Ujah),Great Britain,NaN,"Athletics, Men's 4 x 100 m relay",NaN
164,2022 Winter Olympics,Figure skating team (Kamila Valieva),ROC,NaN,"Figure skating, team event",NaN
165,2024 Summer Olympics,Jordan Chiles,United States,NaN,"Gymnastics, Women's floor (Z)",NaN

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Olympics  166 non-null    object
 1   Athlete   166 non-null    object
 2   Country   166 non-null    object
 3   Medal     0 non-null      float64
 4   Event     166 non-null    object
 5   Ref       0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 7.9+ KB

R√©sum√© statistique :

,Olympics,Athlete,Country,Medal,Event,Ref
count,166,166,166,0.0,166,0.0
unique,22,147,38,NaN,110,NaN
top,2008 Summer Olympics,Marion Jones,Russia,NaN,"Athletics, Women's shot put",NaN
freq,50,5,50,NaN,5,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

D. Dimensions du DataFrame : 166 lignes et 6 colonnes

In [83]:
# 3Ô∏è. Nettoyage des noms de colonnes
colonnes(df_dopage_athlete)

In [84]:
# 4. Gestion des valeurs manquantes
val_manquantes(df_dopage_athlete)

Valeurs manquantes :

olympics      0
athlete       0
country       0
medal       166
event         0
ref         166
dtype: int64

Pourcentage de valeurs manquantes par colonne :

medal       100.0
ref         100.0
olympics      0.0
athlete       0.0
country       0.0
event         0.0
dtype: float64

In [85]:
# 5Ô∏è. V√©rification et Gestion des doublons
doublons(df_dopage_athlete)

Doublons d√©tect√©s : 0

np.int64(0)

In [86]:
# 6Ô∏è. V√©rification et correction des types
# RAS

In [87]:
# 7Ô∏è. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_dopage_athlete)

(                 olympics                                          athlete  \
 0    1904 Summer Olympics                                        Jack Egan
 1    1904 Summer Olympics                                        Jack Egan
 2    1948 Summer Olympics                Equestrian team (Gehn√§ll Persson)
 3    1968 Summer Olympics  Modern Pentathlon team (Hans-Gunnar Liljenwall)
 4    1972 Summer Olympics                                 Bakhvain Buyadaa
 ..                    ...                                              ...
 161  2016 Summer Olympics                                   Mikhail Aloyan
 162  2018 Winter Olympics          Curling team (Aleksandr Krushelnitckii)
 163  2020 Summer Olympics                       Relay team (Chijindu Ujah)
 164  2022 Winter Olympics             Figure skating team (Kamila Valieva)
 165  2024 Summer Olympics                                    Jordan Chiles

                           country  medal                             event  \
 0                   United States    NaN     Boxing, Men's Lightweight (Z)
 1                   United States    NaN    Boxing, Men's Welterweight (Z)
 2                          Sweden    NaN     Equestrian, Team dressage (Z)
 3                          Sweden    NaN           Modern pentathlon, Team
 4                        Mongolia    NaN             Judo, Men's 63 kg (X)
 ..                            ...    ...                               ...
 161                        Russia    NaN           Boxing, Men's flyweight
 162  Olympic Athletes from Russia    NaN            Curling, Mixed doubles
 163                 Great Britain    NaN  Athletics, Men's 4 x 100 m relay
 164                           ROC    NaN        Figure skating, team event
 165                 United States    NaN     Gymnastics, Women's floor (Z)

      ref
 0    NaN
 1    NaN
 2    NaN
 3    NaN
 4    NaN
 ..   ...
 161  NaN
 162  NaN
 163  NaN
 164  NaN
 165  NaN

 [166 rows x 6 columns],
 Index(['olympics', 'athlete', 'country', 'event'], dtype='object'))

In [88]:
# 8Ô∏è. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [89]:
# 9Ô∏è. Cr√©ation / transformation de colonnes

df_dopage_athlete = df_dopage_athlete.drop(columns=["medal", "ref"])
df_dopage_athlete.isna().sum()

olympics    0
athlete     0
country     0
event       0
dtype: int64

## 10. NETTOYAGE STRIPPED MEDALS COUNTRY

In [90]:
# 1Ô∏è. Importation
df_dopage_country = import_raw("Olympic_Stripped_Medals_Country.xlsx")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Stripped_Medals_Country.xlsx'

In [91]:
# 2Ô∏è. Inspection initiale
inspect_init(df_dopage_country)

Aper√ßu des donn√©es :

                        Olympics  Athlete  Country  Medal  Event
0                        Country      NaN      NaN    NaN  Total
1                         Russia     15.0     21.0   13.0     49
2                  United States      6.0      2.0    5.0     13
3                        Ukraine      2.0      4.0    5.0     11
4                        Belarus      2.0      3.0    6.0     11
5                     Kazakhstan      6.0      2.0    2.0     10
6                       Bulgaria      4.0      2.0    1.0      7
7                         Turkey      1.0      4.0    0.0      5
8                          China      3.0      0.0    1.0      4
9                          Spain      3.0      0.0    1.0      4
10                       Hungary      2.0      2.0    0.0      4
11                    Uzbekistan      2.0      1.0    1.0      4
12                       Romania      1.0      1.0    2.0      4
13                        Sweden      1.0      1.0    2.0      4
14                 Great Britain      0.0      1.0    2.0      3
15                       Armenia      0.0      0.0    3.0      3
16                       Moldova      0.0      0.0    3.0      3
17                       Germany      2.0      0.0    0.0      2
18                    Azerbaijan      0.0      1.0    1.0      2
19                   North Korea      0.0      1.0    1.0      2
20                        Greece      0.0      0.0    2.0      2
21                       Bahrain      1.0      0.0    0.0      1
22                        Canada      1.0      0.0    0.0      1
23                       Ireland      1.0      0.0    0.0      1
24                       Jamaica      1.0      0.0    0.0      1
25                        Poland      1.0      0.0    0.0      1
26                           ROC      1.0      0.0    0.0      1
27                          Cuba      0.0      1.0    0.0      1
28                       Finland      0.0      1.0    0.0      1
29                       Georgia      0.0      1.0    0.0      1
30                         Italy      0.0      1.0    0.0      1
31                     Lithuania      0.0      1.0    0.0      1
32                      Mongolia      0.0      1.0    0.0      1
33                    Kyrgyzstan      0.0      0.0    1.0      1
34                   Netherlands      0.0      0.0    1.0      1
35                        Norway      0.0      0.0    1.0      1
36  Olympic Athletes from Russia      0.0      0.0    1.0      1
37                  Soviet Union      0.0      0.0    1.0      1
38                  Unified Team      0.0      0.0    1.0      1
39                         Total     55.0     52.0   55.0    162

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Olympics  40 non-null     object
 1   Athlete   39 non-null     float64
 2   Country   39 non-null     float64
 3   Medal     39 non-null     float64
 4   Event     40 non-null     object
dtypes: float64(3), object(2)
memory usage: 1.7+ KB

R√©sum√© statistique :

       Olympics    Athlete    Country      Medal Event
count        40  39.000000  39.000000  39.000000    40
unique       40        NaN        NaN        NaN    12
top     Country        NaN        NaN        NaN     1
freq          1        NaN        NaN        NaN    18
mean        NaN   2.846154   2.666667   2.871795   NaN
std         NaN   8.986945   8.790944   8.897603   NaN
min         NaN   0.000000   0.000000   0.000000   NaN
25%         NaN   0.000000   0.000000   0.000000   NaN
50%         NaN   1.000000   1.000000   1.000000   NaN
75%         NaN   2.000000   1.000000   2.000000   NaN
max         NaN  55.000000  52.000000  55.000000   NaN

D. Dimensions du DataFrame : 40 lignes et 5 colonnes

In [92]:
# 3Ô∏è. Correction de la structure (headers / lignes inutiles)
df_dopage_country = (
    df_dopage_country
    .drop(index=0)
    .rename(columns={
        "Olympics": "country",
        "Athlete": "gold",
        "Country": "silver",
        "Medal": "bronze",
        "Event": "total"
    })
    .reset_index(drop=True)
)

df_dopage_country.head(2)

         country  gold  silver  bronze total
0         Russia  15.0    21.0    13.0    49
1  United States   6.0     2.0     5.0    13

In [93]:
# 4. Nettoyage des noms de colonnes
colonnes(df_dopage_country)

In [94]:
# 5. Gestion des valeurs manquantes
val_manquantes(df_dopage_country)

Valeurs manquantes :

country    0
gold       0
silver     0
bronze     0
total      0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

country    0.0
gold       0.0
silver     0.0
bronze     0.0
total      0.0
dtype: float64

In [95]:
# 6. V√©rification et Gestion des doublons
doublons(df_dopage_country)

Doublons d√©tect√©s : 0

np.int64(0)

In [96]:
# 7. V√©rification et correction des types

cols_to_int = ["gold","silver","bronze","total"]

df_dopage_country[cols_to_int] = df_dopage_country[cols_to_int].apply(
    pd.to_numeric, errors="coerce"
)

In [97]:
# 8. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_dopage_country)

(                         country  gold  silver  bronze  total
 0                         Russia  15.0    21.0    13.0     49
 1                  United States   6.0     2.0     5.0     13
 2                        Ukraine   2.0     4.0     5.0     11
 3                        Belarus   2.0     3.0     6.0     11
 4                     Kazakhstan   6.0     2.0     2.0     10
 5                       Bulgaria   4.0     2.0     1.0      7
 6                         Turkey   1.0     4.0     0.0      5
 7                          China   3.0     0.0     1.0      4
 8                          Spain   3.0     0.0     1.0      4
 9                        Hungary   2.0     2.0     0.0      4
 10                    Uzbekistan   2.0     1.0     1.0      4
 11                       Romania   1.0     1.0     2.0      4
 12                        Sweden   1.0     1.0     2.0      4
 13                 Great Britain   0.0     1.0     2.0      3
 14                       Armenia   0.0     0.0     3.0      3
 15                       Moldova   0.0     0.0     3.0      3
 16                       Germany   2.0     0.0     0.0      2
 17                    Azerbaijan   0.0     1.0     1.0      2
 18                   North Korea   0.0     1.0     1.0      2
 19                        Greece   0.0     0.0     2.0      2
 20                       Bahrain   1.0     0.0     0.0      1
 21                        Canada   1.0     0.0     0.0      1
 22                       Ireland   1.0     0.0     0.0      1
 23                       Jamaica   1.0     0.0     0.0      1
 24                        Poland   1.0     0.0     0.0      1
 25                           ROC   1.0     0.0     0.0      1
 26                          Cuba   0.0     1.0     0.0      1
 27                       Finland   0.0     1.0     0.0      1
 28                       Georgia   0.0     1.0     0.0      1
 29                         Italy   0.0     1.0     0.0      1
 30                     Lithuania   0.0     1.0     0.0      1
 31                      Mongolia   0.0     1.0     0.0      1
 32                    Kyrgyzstan   0.0     0.0     1.0      1
 33                   Netherlands   0.0     0.0     1.0      1
 34                        Norway   0.0     0.0     1.0      1
 35  Olympic Athletes from Russia   0.0     0.0     1.0      1
 36                  Soviet Union   0.0     0.0     1.0      1
 37                  Unified Team   0.0     0.0     1.0      1
 38                         Total  55.0    52.0    55.0    162,
 Index(['country'], dtype='object'))

In [98]:
# 9. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [99]:
# 10. Cr√©ation / transformation de colonnes
# RAS

## 11. NETTOYAGE STRIPPED MEDALS GENDER

In [100]:
# 1Ô∏è. Importation
df_dopage_gender = import_raw("Olympic_Stripped_Medals_Gender.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Stripped_Medals_Gender.csv'

In [101]:
# 2Ô∏è. Inspection initiale
inspect_init(df_dopage_gender)

Aper√ßu des donn√©es :

   Gender  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total Percentage
0    Male          32          25          32     89      54.9%
1  Female          23          27          23     73      45.1%
2   Total          55          52          55    162       100%

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      3 non-null      object
 1   Unnamed: 1  3 non-null      int64
 2   Unnamed: 2  3 non-null      int64
 3   Unnamed: 3  3 non-null      int64
 4   Total       3 non-null      int64
 5   Percentage  3 non-null      object
dtypes: int64(4), object(2)
memory usage: 276.0+ bytes

R√©sum√© statistique :

       Gender  Unnamed: 1  Unnamed: 2  Unnamed: 3       Total Percentage
count       3    3.000000    3.000000    3.000000    3.000000          3
unique      3         NaN         NaN         NaN         NaN          3
top      Male         NaN         NaN         NaN         NaN      54.9%
freq        1         NaN         NaN         NaN         NaN          1
mean      NaN   36.666667   34.666667   36.666667  108.000000        NaN
std       NaN   16.502525   15.044379   16.502525   47.444705        NaN
min       NaN   23.000000   25.000000   23.000000   73.000000        NaN
25%       NaN   27.500000   26.000000   27.500000   81.000000        NaN
50%       NaN   32.000000   27.000000   32.000000   89.000000        NaN
75%       NaN   43.500000   39.500000   43.500000  125.500000        NaN
max       NaN   55.000000   52.000000   55.000000  162.000000        NaN

D. Dimensions du DataFrame : 3 lignes et 6 colonnes

In [102]:
# 3Ô∏è. Correction de la structure (headers / lignes inutiles)
df_dopage_gender = (
    df_dopage_gender
    .rename(columns={
        "Unnamed: 1": "gold",
        "Unnamed: 2": "silver",
        "Unnamed: 3": "bronze"
    })
    .reset_index(drop=True)
)

df_dopage_gender.head(2)

   Gender  gold  silver  bronze  Total Percentage
0    Male    32      25      32     89      54.9%
1  Female    23      27      23     73      45.1%

In [103]:
# 4. Nettoyage des noms de colonnes
colonnes(df_dopage_gender)

In [104]:
# 5. Gestion des valeurs manquantes
val_manquantes(df_dopage_gender)

Valeurs manquantes :

gender        0
gold          0
silver        0
bronze        0
total         0
percentage    0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

gender        0.0
gold          0.0
silver        0.0
bronze        0.0
total         0.0
percentage    0.0
dtype: float64

In [105]:
# 6. V√©rification et Gestion des doublons
doublons(df_dopage_gender)

Doublons d√©tect√©s : 0

np.int64(0)

In [106]:
# 7. V√©rification et correction des types
# RAS

In [107]:
# 8. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_dopage_gender)

(   gender  gold  silver  bronze  total percentage
 0    Male    32      25      32     89      54.9%
 1  Female    23      27      23     73      45.1%
 2   Total    55      52      55    162       100%,
 Index(['gender', 'percentage'], dtype='object'))

In [108]:
# 9. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [109]:
# 10. Cr√©ation / transformation de colonnes
# RAS

## 12. NETTOYAGE STRIPPED MEDALS SPORT

In [110]:
# 1Ô∏è. Importation
df_dopage_sport = import_raw("Olympic_Stripped_Medals_Sport.csv")

üì• Donn√©es import√©es depuis '../data/data_raw/Olympic_Stripped_Medals_Sport.csv'

In [111]:
# 2Ô∏è. Inspection initiale
inspect_init(df_dopage_sport)

Aper√ßu des donn√©es :

                   Sport  Unnamed: 1  Unnamed: 2  Unnamed: 3  Total
0              Athletics          21          20          13     54
1          Weightlifting          15          14          23     52
2              Wrestling           3           7           3     13
3   Cross-country skiing           5           3           1      9
4               Biathlon           2           2           1      5
5                Cycling           1           1           3      5
6             Equestrian           3           0           1      4
7                 Boxing           0           2           1      3
8              Bobsleigh           2           0           0      2
9             Gymnastics           1           0           1      2
10              Canoeing           0           1           1      2
11                  Judo           0           1           1      2
12              Shooting           0           1           1      2
13     Modern pentathlon           0           0           2      2
14        Figure skating           1           0           0      1
15              Swimming           1           0           0      1
16         Alpine skiing           0           0           1      1
17               Curling           0           0           1      1
18                Rowing           0           0           1      1
19                 Total          55          52          55    162

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sport       20 non-null     object
 1   Unnamed: 1  20 non-null     int64
 2   Unnamed: 2  20 non-null     int64
 3   Unnamed: 3  20 non-null     int64
 4   Total       20 non-null     int64
dtypes: int64(4), object(1)
memory usage: 932.0+ bytes

R√©sum√© statistique :

            Sport  Unnamed: 1  Unnamed: 2  Unnamed: 3       Total
count          20   20.000000   20.000000    20.00000   20.000000
unique         20         NaN         NaN         NaN         NaN
top     Athletics         NaN         NaN         NaN         NaN
freq            1         NaN         NaN         NaN         NaN
mean          NaN    5.500000    5.200000     5.50000   16.200000
std           NaN   12.857519   12.202674    12.87797   37.675344
min           NaN    0.000000    0.000000     0.00000    1.000000
25%           NaN    0.000000    0.000000     1.00000    1.750000
50%           NaN    1.000000    1.000000     1.00000    2.000000
75%           NaN    3.000000    2.250000     2.25000    6.000000
max           NaN   55.000000   52.000000    55.00000  162.000000

D. Dimensions du DataFrame : 20 lignes et 5 colonnes

In [112]:
# 3Ô∏è. Correction de la structure (headers / lignes inutiles)
df_dopage_sport = (
    df_dopage_sport
    .rename(columns={
        "Unnamed: 1": "gold",
        "Unnamed: 2": "silver",
        "Unnamed: 3": "bronze"
    })
    .reset_index(drop=True)
)

df_dopage_sport.head(2)

           Sport  gold  silver  bronze  Total
0      Athletics    21      20      13     54
1  Weightlifting    15      14      23     52

In [113]:
# 4. Nettoyage des noms de colonnes
colonnes(df_dopage_sport)

In [114]:
# 5. Gestion des valeurs manquantes
val_manquantes(df_dopage_sport)

Valeurs manquantes :

sport     0
gold      0
silver    0
bronze    0
total     0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

sport     0.0
gold      0.0
silver    0.0
bronze    0.0
total     0.0
dtype: float64

In [115]:
# 6. V√©rification et Gestion des doublons
doublons(df_dopage_sport)

Doublons d√©tect√©s : 0

np.int64(0)

In [116]:
# 7. V√©rification et correction des types
# RAS

In [117]:
# 8. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_dopage_sport)

(                   sport  gold  silver  bronze  total
 0              Athletics    21      20      13     54
 1          Weightlifting    15      14      23     52
 2              Wrestling     3       7       3     13
 3   Cross-country skiing     5       3       1      9
 4               Biathlon     2       2       1      5
 5                Cycling     1       1       3      5
 6             Equestrian     3       0       1      4
 7                 Boxing     0       2       1      3
 8              Bobsleigh     2       0       0      2
 9             Gymnastics     1       0       1      2
 10              Canoeing     0       1       1      2
 11                  Judo     0       1       1      2
 12              Shooting     0       1       1      2
 13     Modern pentathlon     0       0       2      2
 14        Figure skating     1       0       0      1
 15              Swimming     1       0       0      1
 16         Alpine skiing     0       0       1      1
 17               Curling     0       0       1      1
 18                Rowing     0       0       1      1
 19                 Total    55      52      55    162,
 Index(['sport'], dtype='object'))

In [118]:
# 9. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [119]:
# 10. Cr√©ation / transformation de colonnes
# RAS

## 13. NETTOYAGE JSON DRAPEAUX

In [120]:
# 1Ô∏è. Importation
df_drapeaux = import_raw("codes_cio_new_test.json")

üì• Donn√©es import√©es depuis '../data/data_raw/codes_cio_new_test.json'

In [121]:
# 2Ô∏è. Inspection initiale
inspect_init(df_drapeaux)

Aper√ßu des donn√©es :

,code_cio,nom_pays,url_drapeau
0,AIN,,https://upload.wikimedia.org/wikipedia/commons...
1,COR,,https://upload.wikimedia.org/wikipedia/commons...
2,EOR,,https://upload.wikimedia.org/wikipedia/commons...
3,EUN,,https://upload.wikimedia.org/wikipedia/commons...
4,OAR,,https://upload.wikimedia.org/wikipedia/commons...
...,...,...,...
283,VOL[12],Haute-Volta,https://upload.wikimedia.org/wikipedia/commons...
284,ZAI,Za√Øre,https://upload.wikimedia.org/wikipedia/commons...
285,SCO,√âcosse,https://upload.wikimedia.org/wikipedia/commons...
286,NIR,Irlande du Nord,https://upload.wikimedia.org/wikipedia/commons...
287,WAL,Pays de Galles,https://upload.wikimedia.org/wikipedia/commons...

Informations g√©n√©rales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code_cio     288 non-null    object
 1   nom_pays     288 non-null    object
 2   url_drapeau  288 non-null    object
dtypes: object(3)
memory usage: 6.9+ KB

R√©sum√© statistique :

       code_cio nom_pays url_drapeau
count       288      288         288
unique      277      266         243
top         GER
freq          4        7          12

D. Dimensions du DataFrame : 288 lignes et 3 colonnes

In [122]:
# 3. Nettoyage des noms de colonnes
colonnes(df_drapeaux)

In [123]:
# 4. Nettoyage des codes CIO 

df_drapeaux["code_cio"] = (
    df_drapeaux["code_cio"]
    .astype(str)
    .str.extract(r"^([A-Z]{3})")
)

In [124]:
# 5. Filtrage sur les codes NOC de df_country

noc_valides = df_country["noc"].unique()

df_drapeaux = df_drapeaux[
    df_drapeaux["code_cio"].isin(noc_valides)
]

In [125]:
# 6. Gestion des valeurs manquantes
val_manquantes(df_drapeaux)

Valeurs manquantes :

code_cio       0
nom_pays       0
url_drapeau    0
dtype: int64

Pourcentage de valeurs manquantes par colonne :

code_cio       0.0
nom_pays       0.0
url_drapeau    0.0
dtype: float64

In [126]:
# 5. V√©rification et Gestion des doublons
doublons(df_drapeaux)

Doublons d√©tect√©s : 1

np.int64(1)

In [127]:
# Visualiser les lignes en doublons

# Suppression des doublons

nb_doublons = doublons(df_drapeaux)

df_drapeaux = df_drapeaux.drop_duplicates()
print(f"\nDoublons d√©tect√©s : {nb_doublons}")
display(nb_doublons)

Doublons d√©tect√©s : 1

Doublons d√©tect√©s : 1

np.int64(1)

In [128]:
# 6.1 V√©rification des doublons pour code CIO

nb_doublons_cio = df_drapeaux.duplicated(subset=["code_cio"]).sum()
print(f"Nombre de doublons sur code_cio : {nb_doublons_cio}")

Nombre de doublons sur code_cio : 11

In [129]:
# Visualiser les lignes en doublons

df_drapeaux[
    df_drapeaux["code_cio"].duplicated(keep=False)
].sort_values("code_cio")

,code_cio,nom_pays,url_drapeau
17,AUS,Australie(1952‚Äì),https://upload.wikimedia.org/wikipedia/commons...
244,AUS,Australie,https://upload.wikimedia.org/wikipedia/commons...
18,AUT,Autriche(1952‚Äì),https://upload.wikimedia.org/wikipedia/commons...
245,AUT,Autriche,https://upload.wikimedia.org/wikipedia/commons...
37,BUR,Burkina Faso,https://upload.wikimedia.org/wikipedia/commons...
250,BUR,Birmanie,
1,COR,,https://upload.wikimedia.org/wikipedia/commons...
52,COR,Cor√©e unifi√©e,https://upload.wikimedia.org/wikipedia/commons...
3,EUN,,https://upload.wikimedia.org/wikipedia/commons...
222,EUN,√âquipe unifi√©e aux Jeux olympiques(de l'ex-URS...,
264,GER,Allemagne,https://upload.wikimedia.org/wikipedia/commons...
80,GER,Allemagne,https://upload.wikimedia.org/wikipedia/commons...
262,GER,Empire allemand,https://upload.wikimedia.org/wikipedia/commons...
82,GRE,Gr√®ce,https://upload.wikimedia.org/wikipedia/commons...
265,GRE,Gr√®ce(ancien drapeau),https://upload.wikimedia.org/wikipedia/commons...
165,ROC,Comit√© olympique de Russie,
5,ROC,,https://upload.wikimedia.org/wikipedia/commons...
280,ROC,R√©publique de Chine (1912-1949)puisR√©publique ...,https://upload.wikimedia.org/wikipedia/commons...
233,YUG,R√©publique f√©d√©rative socialiste de Yougoslavie,https://upload.wikimedia.org/wikipedia/commons...
234,YUG,R√©publique f√©d√©rale de Yougoslavie,https://upload.wikimedia.org/wikipedia/commons...

In [130]:
# V√©rifier les URLs pour les doublons CIO

df_drapeaux[
    df_drapeaux["code_cio"].duplicated(keep=False)
].groupby("code_cio")["url_drapeau"].nunique()

code_cio
AUS    1
AUT    1
BUR    2
COR    2
EUN    2
GER    3
GRE    2
ROC    3
YUG    2
Name: url_drapeau, dtype: int64

In [131]:
# Garder l‚ÄôURL la plus fr√©quente par code CIO

df_drapeaux_clean = (
    df_drapeaux
    .dropna(subset=["url_drapeau"])
    .groupby("code_cio", as_index=False)
    .agg(
        nom_pays=("nom_pays", lambda x: x.value_counts().idxmax()),
        url_drapeau=("url_drapeau", lambda x: x.value_counts().idxmax())
    )
)

# La page Wikip√©dia utilis√©e recense √† la fois des entit√©s actuelles et historiques.
# Pour les besoins de visualisation, une seule URL de drapeau par code CIO est conserv√©e.
# Lorsque plusieurs drapeaux existent pour un m√™me code, la version la plus fr√©quente est retenue afin d‚Äôassurer une repr√©sentation coh√©rente.

In [132]:
df_drapeaux_clean.head(2)

,code_cio,nom_pays,url_drapeau
0,AFG,Afghanistan(2013-),https://upload.wikimedia.org/wikipedia/commons...
1,AHO,Antilles n√©erlandaises,https://upload.wikimedia.org/wikipedia/commons...

In [133]:
# 7. Nettoyage contenu colonne nom_pays suite constatation erreurs

# 7.1 Netttoyage de base
df_drapeaux_clean["nom_pays"] = (
    df_drapeaux_clean["nom_pays"]
        .fillna("")
        .str.strip()
)

In [134]:
# 7.2 Supprimer les dates et pr√©cisions historiques
df_drapeaux_clean["nom_pays"] = (
    df_drapeaux_clean["nom_pays"]
        .str.replace(r"\s*\(.*?\)", "", regex=True)
)

In [135]:
# 7.3 Corriger les doublons coll√©s
df_drapeaux_clean["nom_pays"] = (
    df_drapeaux_clean["nom_pays"]
        .str.replace(r"\b(\w+)\1\b", r"\1", regex=True)
)

In [136]:
# 7.4 G√©rer les noms multiples / politiques
df_drapeaux_clean["nom_pays"] = (
    df_drapeaux_clean["nom_pays"]
        .str.split(r"[,/]").str[0]
        .str.strip()
)

In [137]:
# 7.5 Cas particuliers

mapping_special = {
    "AIN": "Athl√®tes neutres",
    "COR": "Cor√©e unifi√©e",
    "EOR": "√âquipe olympique",
    "EUN": "√âquipe olympique",
    "ROC": "Comit√© olympique russe",
    "IOA": "Athl√®tes ind√©pendants"
}

df_drapeaux_clean["nom_pays"] = df_drapeaux_clean.apply(
    lambda r: mapping_special.get(r["code_cio"], r["nom_pays"]),
    axis=1
)

In [138]:
# 7.5 Correction erreur Iles Ca√Ømans constat√©s apr√®s le premier nettoyage

df_drapeaux_clean.loc[df_drapeaux_clean["code_cio"] == "CAY", "nom_pays"] = "√éles Ca√Ømans"

In [139]:
# 7. V√©rification et correction des types
# RAS

In [140]:
# 8. Nettoyage des cha√Ænes de caract√®res
nettoyage_caracteres(df_drapeaux_clean)

(    code_cio                                         nom_pays  \
 0        AFG                                      Afghanistan
 1        AHO                           Antilles n√©erlandaises
 2        AIN                                 Athl√®tes neutres
 3        ALB                                          Albanie
 4        ALG                                          Alg√©rie
 ..       ...                                              ...
 218      VIN                  Saint-Vincent-et-les-Grenadines
 219      YEM                                            Y√©men
 220      YUG  R√©publique f√©d√©rative socialiste de Yougoslavie
 221      ZAM                                           Zambie
 222      ZIM                                         Zimbabwe

                                            url_drapeau
 0    https://upload.wikimedia.org/wikipedia/commons...
 1    https://upload.wikimedia.org/wikipedia/commons...
 2    https://upload.wikimedia.org/wikipedia/commons...
 3    https://upload.wikimedia.org/wikipedia/commons...
 4    https://upload.wikimedia.org/wikipedia/commons...
 ..                                                 ...
 218  https://upload.wikimedia.org/wikipedia/commons...
 219  https://upload.wikimedia.org/wikipedia/commons...
 220  https://upload.wikimedia.org/wikipedia/commons...
 221  https://upload.wikimedia.org/wikipedia/commons...
 222  https://upload.wikimedia.org/wikipedia/commons...

 [223 rows x 3 columns],
 Index(['code_cio', 'nom_pays', 'url_drapeau'], dtype='object'))

In [141]:
# 9. V√©rification des valeurs incoh√©rentes et Outliers
# RAS

In [142]:
# 10. Contr√¥le final
assert df_drapeaux_clean["code_cio"].is_unique
df_drapeaux_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code_cio     223 non-null    object
 1   nom_pays     223 non-null    object
 2   url_drapeau  223 non-null    object
dtypes: object(3)
memory usage: 5.4+ KB

## 14. ENREGISTREMENT DE TOUS LES DF CLEANES AU FORMAT CSV

In [143]:
# 1. Cr√©ation d'une fonction export

def export_clean(df, filename, path="../data/data_clean/"):
    full_path = f"{path}{filename}"
    df.to_csv(full_path, index=False)
    print(f"\n‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '{full_path}'")

In [144]:
# 2. Export des fichiers

export_clean(df_bio, "Athlete_Bio_Clean.csv")
export_clean(df_athlete_result, "Athlete_Event_Results_Clean.csv")
export_clean(df_country, "Country_Clean.csv")
export_clean(df_result, "Results_Clean.csv")
export_clean(df_medal, "Medal_Tally_Clean.csv")
export_clean(df_games, "Games_Clean.csv")
export_clean(df_sport_event, "Sport_Event_Clean.csv")
export_clean(df_athlete_stats, "Athlete_Stats_Clean.csv")
export_clean(df_dopage_athlete, "Dopage_Athlete_Clean.csv")
export_clean(df_dopage_country, "Dopage_Country_Clean.csv")
export_clean(df_dopage_gender, "Dopage_Gender_Clean.csv")
export_clean(df_dopage_sport, "Dopage_Sport_Clean.csv")

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Athlete_Bio_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Athlete_Event_Results_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Country_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Results_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Medal_Tally_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Games_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Sport_Event_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Athlete_Stats_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Dopage_Athlete_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Dopage_Country_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Dopage_Gender_Clean.csv'

‚úÖ Donn√©es nettoy√©es sauvegard√©es dans '../data/data_clean/Dopage_Sport_Clean.csv'

In [145]:
# Export du dataframe df_drapeaux_clean en JSON

file_path = "../data/data_clean/codes_cio_complet.json"

df_drapeaux_clean.to_json(
    file_path,
    orient="records",     # liste de dictionnaires
    force_ascii=False,    # accents OK
    indent=4              # lisible
)

print(f"‚úÖ Fichier export√© : {file_path}")

‚úÖ Fichier export√© : ../data/data_clean/codes_cio_complet.json